[2013-04-02 11:46] DavidUnderdown opened #2 "Show calculated checksum value as well as value from file when checksum match fails"
If a checksum match fails, currently the validator only shows the value read from the file being validated.  Initial experience suggests it would be useful to have the calculated value in the error report as well.

[2013-04-02 11:48] adamretter opened #3 "min/max functions"
Consider adding min/max like functions. Possibly these could be done by overloading the range function in the same way as length

[2013-04-08 09:23] DavidUnderdown opened #4 "Possible issue with xDateTime validation"
A recent validation run reported that 2013-03-22T11:33:40+00:00 was not a valid xDateTime - can we recheck this please?

[2013-04-11 16:16] #2 closed, assigned to adamretter

[2013-04-11 16:17] #4 closed, assigned to adamretter

[2013-04-18 10:49] DavidUnderdown opened #7 "Cross check values in other rows"
Image acquisition metadata file consistency checks say we should be able to check that if image_split is("yes") we should be able to cross-check that the image_split_other_uuid refers to another file_uuid within the same csv file, and that in the row for that other image image_split_other_uuid refers back to file_uuid in the same row we are actually validating

[2013-09-06 16:29] adamretter opened #10 "Combinatorial Expressions as condition in Conditional Expressions"
When you are using a Conditional Expression such as "if" you cannot current use Combinatorial Expressions as the condition. i.e. the following is currently invalid, but should be valid -

if(starts("a") or starts("b"), ends("10"))

You should be able to use all Combinatorial Expressions (e.g. "or" and "and") in the condition of a Conditional Expression.

[2013-09-06 16:35] adamretter opened #11 "There is no "empty" expression"
There is a "notEmpty" expression, but there is not an "empty" expression.

Whilst it is possible to express an empty column by using either -

is("")

or even -

length(0)

this does not read very well in complex rules. It is better perhaps to be able to write something like -

if($other/starts("a"), is("a4"), empty)

as opposed to currently writing something like -

if($other/starts("a"), is("a4"

[2013-09-06 16:36] adamretter opened #12 "Naming of "isNot" does not follow convention"
Should "isNot" be renamed "not"?

It does not seem to follow convention at present!

[2013-09-06 16:37] adamretter opened #13 "Document CSV Schema Syntax"
All of the syntax that may be used in a CSV Schema needs to be documented.

[2013-09-06 16:38] adamretter opened #14 "Document useage"
Document how to use the CSV Validator tool from:
- Command Line
- Scala
- Java

[2013-09-06 16:40] adamretter opened #15 "EBNF does not match implementation"
The EBNF has become outdated as the implementation progressed. We need to do two things -

1) Update the EBNF to match terminal names in the implementation
2) Document where constructs in he EBNF are currently not implemented in the CSV Validation Tool.

[2013-09-06 19:40] adamretter opened #16 "Cannot combine conditional expressions"
At present you cannot combine conditional expressions e.g.

if(is("a"), is("a"), is("b")) and if(is("b"), is("b"), is("a"))

[2013-09-06 19:42] adamretter opened #17 "upper/lower expressions"
It would be nice to have expressions that assert that text in a field is either all upper-case or all lower-case. e.g.

field1: upper
field2: lower

[2013-09-06 19:43] adamretter opened #18 "range expression should offer min/max"
The 'length' expression offers min/max capabilities. The 'range' expression should also offer similar capabilities.

[2013-09-06 19:46] adamretter opened #19 "any expression"
It would be easier if we had an 'any' expression rather than combining several string options with 'or'.

e.g. This -

is("a") or is("b") or is("c")

Could be replaced with -

any("a", "b", "c")

This is arguably more readable, especially when many 'or' expressions are used.

[2013-09-09 10:44] adamretter opened #21 "regex syntax is not checked during parse inside conditional expr"
Using the CSV file -

col1,col2,col3
v1,v2,v3

Using the CSVS file -

version 1.0
@totalColumns 3
col1: is("v1")
col2: if(is("v8"), is("v2"), regex("*"))
col3: is("v3")

Results in the stack trace at runtime -

Dangling meta character '*' near index 0
*
^
    at java.util.regex.Pattern.error(Pattern.java:1713)
    at java.util.regex.Pattern.sequence(Pattern.java:1878)
    at java.util.regex.Patter

[2013-09-09 14:26] #10 closed, assigned to nobody

[2013-11-08 14:56] NickiWelch opened #22 "Progress bar for the GUI"
It would be good to have a progress bar on the GUI so you can tell that it is working and how long it is taking to work through the rows.

[2013-11-20 17:27] NickiWelch opened #23 "Validator fails when there is a '#' character in filename"
FileExists fails when there is a '#' in the filename

[2013-11-22 11:54] adamretter opened #24 "Url rule"
We have a UriRule for checking if a URI is valid with the "uri" schema expression. It would be good to have a corresponding "url" rule.

[2013-12-09 18:21] #11 closed, assigned to adamretter

[2014-01-03 16:31] DavidUnderdown opened #27 "As defined, TABExpr accepts 0 or -ve values"
TABExpr is defined as taking an IntegerLiteral as its (optional) parameter.  IntegerLiteral is ultimately defined as an Integer value, which allows 0 and negative values.  TABExpr is used to supply a number of space characters to be recognised as the separator value in a CSV file, so 0 and negative values have no sensible meaning, so this parameter should be constrained to PositiveNonZeroIntegerLi

[2014-01-07 16:31] DavidUnderdown opened #28 "Validation of column names"
At present the validator does not compare the column names in the csv file with those in the schema.

[2014-01-23 11:08] ghost opened #29 "Empty lines still cause array out of bounds exception"
Commit b205d97878 of Dec 9 should have fixed any problems caused by a carriage return and subsequent empty line at end of file, but it doesn't seem to work in all cases
(csv file on a linux system with a final CR and no spaces or other characters on the final empty line)

[2014-03-10 21:00] #22 closed, assigned to adamretter

[2014-03-12 10:33] DavidUnderdown opened #34 "Status bar only updates when validation completes"
The new status bar only updates when validation has completed - and never actually reaches 100%.

It would be useful if the output cleared when a new validation run started (rather than leaving previous messages there), and it that could also write "live" so you could see new validation errors as they occur.

[2014-03-13 16:07] #18 closed, assigned to nobody

[2014-03-13 16:08] #12 closed, assigned to nobody

[2014-03-14 15:07] DavidUnderdown opened #35 "Generate command line params from GUI"
I think there might be a use case for allowing a user of the GUI to generate an equivalent set of command line parameters to the current settings being used in the GUI.  This would allow less technical staff to test settings and schema in the GUI locally, and then supply appropriate parameters as a basis for running via command line for production processing.

This might also require that the GUI

[2014-03-14 15:32] DavidUnderdown opened #36 "Opening settings pane moves bottom of output pane and save and close buttons off bottom of window"
When you open the settings pane, the bottom of the output page and the save and close buttons are pushed off the bottom of the visible area of the window.  You can expand the window by dragging the bottom of it, or clicking maximise, but it might be more intuitive if either a scroll bar became available, or if the window resized automatically.

[2014-03-17 17:58] #34 closed, assigned to nobody

[2014-03-19 14:07] #36 closed, assigned to nobody

[2014-03-19 15:36] #27 closed, assigned to adamretter

[2014-03-19 15:52] #23 closed, assigned to adamretter

[2014-04-07 15:06] DavidUnderdown opened #41 "Valid strings for FileNameExpr"
FileNameExpr is defined as a simple StringLiteral, but is it intended that in addition to simply representing the name of the file, this could be an expression such as \* or *.jp2 to count all files, or files with a particular extension, within a directory (the path to which would be given by an optional filepath in the prepended StringProvider as FileNameExpr is only used in the second argument t

[2014-04-07 15:10] DavidUnderdown opened #42 "if a single line comment is not terminated by new line at end of file, schema error is generated"
If you wish to comment on the final Column Validation Expression of a schema, and use a single line comment (begun with //), and do not add a final newline character to terminate the comment, a schema error is generated.

[2014-04-15 11:34] DavidUnderdown opened #43 "Some form of concatenation as string provider"
Many of the column validation expressions take a string provider as input, presently this can be either a simple string, or a reference to a field.  However, it would be useful to be able to concatenate the content of several fields, such as for the URI contained within the metadata that is embedded into JP2 files, which is included in the standard technical metadata files as the resource_uri.  Th

[2014-04-15 22:04] calicaliche opened #44 "@separator doesn't exists"
I was trying to use the @separator tag and it isn't working. I checked out your SchemaParser.scala file and I saw that there's is not function for the @separator tag. Is this going to be implemented soon?

Thanks!

[2014-04-16 15:32] #44 closed, assigned to adamretter

[2014-04-22 10:14] DavidUnderdown opened #46 "Write out error reports during processing, rather than all at end"
Presently not presented to the user until processing is entirely completed.  It would be more useful if error reports were written out to the console as they are found.

[2014-04-29 13:24] DavidUnderdown opened #47 "Allow date and UK date expressions to take textual representations of months"
Presently date expression and UK date expression only take numeric representations for month values (ie integers 1-12).  However, Scanning and TRanscription Framework, and derived work for 1939 Registers specify that the month column should be supplied as strings: January, February, March, April, ..., December.  This means we can't currently fully validate these dates in the supplied CSV files.  T

[2014-05-05 14:19] mefernandez opened #48 "Support @separator ;"
Hi,

I've tried to call csv-validator from Java to validate a CSV separated with `;` character specifying the directive `@separator ;` as defined in [CSV Schema](http://digital-preservation.github.io/csv-validator/csv-schema-1.0.html#dfn-separator-character), but it throws an Error. ¿Is this currently not supported?

Cheers,

Mariano.

[2014-05-07 16:19] DavidUnderdown opened #49 "Extend checksum expression to optionally produce warning or error if checksum value is for an empty message"
The cryptographic hash functions will each produce a consistent hash value when presented with an empty file (or any empty message).  This value is different for each hash function, but a given funtion will always produce the same checksum for an empty message.

For the case where we are receiving digitised files a checksum indicating the file is empty would be considered an error, for born digita

[2014-05-09 10:03] DavidUnderdown opened #50 "Case or switch conditional statement as alternative to nested ifs"
the schemas we are writing, particularly for transcription metadata, are often ending up with some fairly complex nested if statements that are quite had to read, and slightly difficult to keep track of the brackets.  Suggested syntax:

case((ConditionalExpr1,NonConditionalExpr1),(ConditionalExpr2,NonConditionalExpr2),...) could also have a final else, or other, as a catch all

[2014-05-16 11:36] #29 closed, assigned to nobody

[2014-05-16 11:38] adamretter opened #51 "Update README.md"
- Remove stuff that has been put into web pages - link to those
- Add build instructions.

[2014-06-05 09:21] DavidUnderdown opened #54 "DateTime checks don't enforce timezone inclusion"
As time zone is not mandatory in the ISO standard, the xDateTime check does not flag time stamps which do not include timezone information.  However, we know that the absence of time zone information causes problems for record openings.  We probably need an enhanced version of xDateTime, either completely new and making timezone mandatory ie xDateTimeWithTimezone or a flag added to the existing ex

[2014-06-12 10:19] #48 closed, assigned to nobody

[2014-06-12 10:34] adamretter opened #55 "Improve performance of checksum expressions"
The National Archives have reported that when validating large CSV files where a row or rows reference files (and those files are large) and the Schema includes a `checksum` expression. The validation process can be quite slow.

Inside the validator each row is validated sequentially. If a row is slow to validate for example due to a checksum operation, it slows down the entire validation process.

[2014-07-13 10:12] #51 closed, assigned to adamretter

[2014-07-13 10:14] #15 closed, assigned to adamretter

[2014-07-13 10:15] #13 closed, assigned to nobody

[2014-07-13 10:16] #14 closed, assigned to DavidUnderdown

[2014-07-21 13:20] #16 closed, assigned to DavidUnderdown

[2014-07-21 13:22] #21 closed, assigned to DavidUnderdown

[2014-08-18 14:27] DavidUnderdown opened #61 "Multiline comments fail if * is used anywhere other than opening or closing comment markers"
Since Release 1.0 if you use an asterisk within a multiline comment other than in the open or close comment marker you get either:

[3.1] failure: Invalid column definition

/**-----------

If the asterisk immediately follows the open comment marker, or an apparently infinite hang if used elsewhere within the multiline comment.  This may be related to commit 8da45dc97fcd28c92f0c01d7589ea2b7a2de950

[2015-01-12 16:55] DavidUnderdown opened #64 "Add total number of rows processed"
Experience of running validation processes suggests it would be useful if the output always included the total number of data lines processed in a validation run.  Currently line numbers are given for errors, but if one wants to reconcile the total number of lines in a csv file against eg the number of images delivered, you have to manually open the metadata file as well.

[2015-02-13 10:24] DavidUnderdown opened #67 "Create "identical" test"
Some data should be the same in every row, in the standard TNA use case, this would be (for example) batch_code.  It differs from batch to batch so cannot use an "is" test without updating schema for every batch, but we do know it should not change within the metadata received for a single batch.  This is in a sense the converse of the "unique" test.

[2015-02-17 09:21] DavidUnderdown opened #68 "Enable checksum validation for files within ZIPs and similar compressed folders"
DROID can read inside ZIPs and other containers and produce checksums for the individual files inside the ZIP.  When CSV Validator attempts to process a DROID csv file it then cannot verify the checksums for the individual files, producing a "NO CHECKSUM" message.

[2015-02-18 11:31] DavidUnderdown opened #69 "using range(1,*) within an if statement produces error"
Get Schema error

[8.167] failure: string matching regex `-?[0-9]+(\.[0-9]+)?' expected but `*' found

[2015-02-18 12:07] adamretter commented on #69
In CSV Schema 1.0, the range expression does not support wild-cards. Perhaps you are thinking of the length expression? http://digital-preservation.github.io/csv-schema/csv-schema-1.0.html#range-expressions

It could be easily added in a CSV Schema 1.1 if desirable? If so I can relabel this as a feature-request...

[2015-02-18 16:39] DavidUnderdown opened #70 "FailFast reports PASS even if there are warnings"
FailFast is desired not to stop on warnings, but is actually suppressing them altogether, reporting PASS even if running the same validation without the FailFast switch does produce warnings.

[2015-02-19 11:27] adamretter commented on #70
So, is this a feature request that the FailFast mode should also output the warnings?

[2015-02-19 11:30] DavidUnderdown commented on #70
No I don't think so, there is no reason FailFast shouldn't output the warnings at the end.  It is misleading that it produces a PASS result just because there have been no errors.  It should produce exactly the same output as running without FailFast with the exception that it stops at the first error.

[2015-02-19 11:36] adamretter commented on #70
I think we are saying the same thing in different ways!

If I understand, then you want FailFast to:

1. Output any warning messages as it processes the CSV file.
2. Stop on the first error it encounters (i.e. a non-warning)
3. Output the details of the error that caused it to stop.

Correct?

[2015-02-19 11:41] DavidUnderdown commented on #70
Yes, but I see it as a bug in the original implementation (perhaps of warnings rather than failfast), rather than a feature request

[2015-02-19 12:41] adamretter commented on #70
Okay I will take a look...

[2015-02-20 11:23] DavidUnderdown commented on #69
It would seem logical

[2015-02-20 12:19] adamretter commented on #69
Can you create a feature request against the CSV-Schema project please?

[2015-02-24 10:04] adamretter commented on #61
Asterisks are not permitted within multiline comments. This is defined in the CSV Schema 1.0. See http://digital-preservation.github.io/csv-schema/csv-schema-1.0.html#comments

Perhaps a feature request for CSV Schema 1.1? If so please file against the CSV Schema repository

[2015-02-24 10:06] adamretter commented on #67
Can you provide an example please?

[2015-02-24 11:30] DavidUnderdown commented on #67
likely case is for batch_code.  Each batch has a different batch code, so while you can do something like regex("^WO95Y14B[0-9]$") to ensure the batch_code is of the correct form, there is no way of checking currently that the value is consistent within in a batch, short of changing the schema for each batch.

We've recently had the case where we had rejected images from a batch, and when these we

[2015-02-26 12:33] DavidUnderdown commented on #61
In itself that's fine, but I don't think the indefinite hang referred to in the second part of the issue is good.  It should return the Invalid column definition too

[2015-03-18 11:33] DavidUnderdown opened #72 "Deeply nested if statements seem to cause validator to hang"
In the WO 95 project there are quite involved relationships between piece numbers and the sub-sub-series and sub-series to which they are expected to belong.  I attempted to verify that the scanning lists that we are sending to the digitisation supplier had this information correct using a set of nested if statements, however, it seems that the depth of nesting required causes the validator to han

[2015-03-22 00:50] adamretter opened #73 "Non-fail-fast reports failure from cmd-line on warning"
When executing CSV Validator from the cmd-line app when in non fail-fast mode it exits with a non-zero status if it encounters a warning. It should only exit with non-zero if there is an error (not a warning).

Kind of related to https://github.com/digital-preservation/csv-validator/issues/70

[2015-04-01 16:58] adamretter commented on #42
@DavidUnderdown I am not sure I follow the the issue that you are having here when you reopened this. Could you please provide a small example of the commenting issue that you are still experiencing?

[2015-05-12 13:11] DavidUnderdown commented on #42
I'd mised this sorry.  I think we discussed this in some other context, and you pointed out that the spec specifically disallows asterisks in multiline comments.  Will re-close

[2015-05-12 13:11] #42 closed

[2015-05-13 09:27] #70 closed

[2015-05-13 09:27] #73 closed

[2015-06-01 17:00] #72 closed

[2015-07-31 14:04] DavidUnderdown opened #79 "Enhance validator output to make filtering by error type more straightforward"
Experience of using the validator in live projects suggests that it is often useful to be able to concentrate on one error type at a time.  If output was more structured it would be easier to import data into other programs (eg Excel), and use the filtering options available in there to examine error types one-by-one to understand the underlying issues.  This is especially true for transcription d

[2015-08-10 10:48] navtis opened #80 "fails to parse over-complex path"
/mnt/imf/RW_32/content/EA-TNA1108.www.publicappts-vacs.gov.uk~%28sstth555zlg2npizrrzqgo45%29~Default.aspx/EA-TNA1108.www.publicappts-vacs.gov.uk~%28sstth555zlg2npizrrzqgo45%29~Default.aspx-20081211214944-00000.arc.gz

returns 'fileExists fails' , although file is present

[2015-08-10 10:55] adamretter commented on #80
I guess it's an encoding issue e.g. `%28`. What is the name of the file on the filesystem, does it have %28 etc in it's filename, or does it have the unencoded characters?

[2015-08-10 10:58] navtis commented on #80
%28 (the path above is a copy-and-paste from 'ls')

[2015-08-10 11:58] adamretter commented on #80
Okay so, I suspect a double encoding issue. I do wonder know if the %28 should be on the filesystem; Regardless it doesn't really matter the csv-validator should be able to cope with any valid filesystem filename. I will try and take a look...

[2015-09-17 16:19] DavidUnderdown opened #81 "When processing large files, progress bar is not updated"
Having recently received two batches of videos from a government department it appears that when processing a relatively small number of large files the progress bar does not update for some reason.  File sizes were in the range of 10s of gigabytes, one batch had 36 files, the other 45 files, average file size 32 gb.  The CSV files eventually passed validation, but the progress bar never changed f

[2015-10-14 15:10] DavidUnderdown opened #84 "Error report sometimes truncated"
With the test:
sub_schedule_no: if($metadata_type/regex("(SUBITEM_NAME)|(SUBITEM_QADDRESS)"), range(1,613) and unique($piece,$schedule_no,$sub_schedule_no), if($metadata_type/is("SUBITEM_CONNAME"),range(1,613),is("")))

When it is the if test that is taken and fails (ie "range(1,613) and unique($piece,$schedule_no,$sub_schedule_no)" ) the error output is only showing:

  range(1,613) and unique( f

[2015-11-06 11:51] DavidUnderdown commented on #7
Another use case, making sure that you don't have all rows within a defined subset being of the same "type" - will expand on this point later.

[2015-11-06 12:06] adamretter commented on #7
@DavidUnderdown Okay got it.

[2015-11-26 15:49] #54 closed

[2015-11-30 13:48] valydia commented on #69
It has now been implemented in the [PR #85](https://github.com/digital-preservation/csv-validator/pull/85).

[2015-11-30 13:50] valydia commented on #67
It has been implemented in the [PR #86] (https://github.com/digital-preservation/csv-validator/pull/86).

[2015-12-09 14:48] DavidUnderdown commented on #17
upperCase and lowerCase introduced in Pull Request 91

[2015-12-09 14:50] DavidUnderdown commented on #17
See above reference to Pull Request #91

[2015-12-09 14:50] #17 closed

[2015-12-09 15:00] DavidUnderdown commented on #17
See also #87

[2015-12-10 16:28] DavidUnderdown commented on #19
See references above, implemented in development, will close on release.

See also [Issue 5](https://github.com/digital-preservation/csv-schema/issues/5) of the CSV Schema repository.

[2016-01-06 15:55] DavidUnderdown commented on #64
Now implemented, but when files have a header row, it stops at eg "Line 41 of 42".  This appears to be because the header row is counted when the total number of lines is calculated, but not when the number of lines processed is counted (which counts only the data lines).  If the header row is removed from the CSV file (and @noHeader is used in the schema), the count is correct.  This also seems t

[2016-01-07 11:48] DavidUnderdown opened #100 "integrityCheck bug"
While validating the TNA transfer with redacted files, we tried to add an integrityCheck constraint to the schema as it appeared that references to some original files had been omitted from the metadata file.

integrityCheck was introduced in Pull Request #88 - it has one mandatory parameter, on the first two attempts to include integrityCheck the mandatory parameter was omitted in error, and the

[2016-01-15 15:36] DavidUnderdown opened #104 "Implement Partial Date Expression"
The schema language defines the Partial Date Expression, but this has not yet been implemented in the CSV Validator, even though it is most common for transcription projects to record the date in separate columns, one each for day, month and year.

[2016-01-29 12:32] DavidUnderdown commented on #100
Resolved in final 1.1 release, commit 104ee5e

[2016-01-29 12:32] #100 closed

[2016-01-29 12:33] DavidUnderdown commented on #80
fixed in tag 1.0.1 and subsequent (commit dbf59d1)

[2016-01-29 12:33] #80 closed

[2016-01-29 12:34] DavidUnderdown commented on #69
Closed by release 1.1, commit 104ee5e

[2016-01-29 12:34] #69 closed

[2016-01-29 12:34] DavidUnderdown commented on #67
Closed with 1.1 release, commit 104ee5e

[2016-01-29 12:34] #67 closed

[2016-01-29 12:35] DavidUnderdown commented on #64
Closed in 1.1 release, commit 104ee5e

[2016-01-29 12:35] #64 closed

[2016-01-29 12:36] DavidUnderdown commented on #55
Don't think this was included in 1.1 in the end, unless @adamretter can confirm otherwise, so moved to 2.0 milestone for time being.

[2016-01-29 12:37] DavidUnderdown commented on #50
Closed with release 1.1, commit 104ee5e

[2016-01-29 12:37] #50 closed

[2016-01-29 12:37] DavidUnderdown commented on #47
Believe this is now done in release 1.1, commit 104ee5e

[2016-01-29 12:37] #47 closed

[2016-01-29 12:38] DavidUnderdown commented on #43
Included in 1.1 release, commit 104ee5e

[2016-01-29 12:38] #43 closed

[2016-01-29 12:38] DavidUnderdown commented on #49
Not included in 1.1 in the end, milestone updated to 2.0 for now

[2016-01-29 12:40] DavidUnderdown commented on #28
Included in release 1.1, commit 104ee5e

[2016-01-29 12:40] #28 closed

[2016-01-29 12:41] DavidUnderdown commented on #19
In 1.1 release, commit 104ee5e

[2016-01-29 12:41] #19 closed

[2016-01-29 12:44] DavidUnderdown commented on #3
Included in release 1.1 via the change to range suggested, see digital-preservation/csv-schema#4, release implemented by commit 104ee5e

[2016-01-29 12:44] #3 closed

[2016-01-29 12:44] DavidUnderdown commented on #46
Not included in 1.1 in the end, so re-tagged as 2.0 for now

[2016-01-29 14:16] adamretter commented on #55
@DavidUnderdown Pretty sure that we cracked that here https://github.com/digital-preservation/csv-validator/commit/947b7f41ddca5206e077475b7421c1833a2f1f58

[2016-01-29 14:33] DavidUnderdown commented on #55
Close per Adam above, though may raise a new one for the multi-threading aspects which I don't think we did take forward.

[2016-01-29 14:33] #55 closed

[2016-02-29 07:08] nyango opened #110 "There seems not to be 'Scalaz Stream version 0.6a' in popular maven repositories any more"
Scalaz Stream version 0.6a is needed for this repository, csv-validator.
https://github.com/digital-preservation/csv-validator/blob/bc5e4ce2d5b0eaa01e55e1902aa1bd99bffe56d0/csv-validator-core/pom.xml#L103

[code]

Unhappily, there might not be Scalaz Stream version 0.6a anymore in some maven repositories.
http://mvnrepository.com/artifact/org.scalaz.stream/
At least 2 popular maven repositories do

[2016-03-02 10:25] #110 closed

[2016-03-31 11:02] valydia opened #114 "Issue with notempty rules referencing different columns"
The attached csv / schema failed when it should pass.
[notempty.txt](https://github.com/digital-preservation/csv-validator/files/197460/notempty.txt)
[notempty-schema.txt](https://github.com/digital-preservation/csv-validator/files/197459/notempty-schema.txt)

[2016-04-04 15:30] #114 closed

[2016-05-04 14:10] LauraDamianTNA opened #118 "Error handling for schemas that reference non-existent column"
CSV validator should fail with a meaningful error when a column name that does not exist is referenced in a schema.
Schema example:
           version 1.1
          @totalColumns 2
          foi_exemption_asserted:if($closure_type/is("closed_for"),not($date_last_modified))
          closure_type:

[2016-05-05 12:03] DavidUnderdown opened #119 "Implement urlDecode from CSV Schema Language 1.2"
Implement digital-preservation/csv-schema#7 by adding the urlDecode feature to the CSV Validator (see #117)

[2016-05-16 15:40] DavidUnderdown commented on #61
Retested on latest version, and the hang has gone, so I'll close this now.

[2016-05-16 15:40] #61 closed

[2016-05-16 16:07] DavidUnderdown opened #121 "Implement CorrespondingRangeExpr - additional validation expression"
In several digitisation projects we have come across the situation where it is required that there is a simple correspondence between two ranges.  For example, a set of files is numbered in its originating department in some straightforward number range, when we accession those files into an existing series we cannot use that exact number range due to material within the series already having thos

[2016-05-18 11:04] DavidUnderdown opened #122 "Implement zeroPad string provider"
In the case of our digitisation project, the file_path includes a zero-padded running number (aka ordinal) for the image files within a piece or item.  Using concat within starts and ends expressions, plus some regex allows fairly tight validation of the fact the file_path has been built up as expected eg

file_path: starts(concat("file:///",$department,"_",$series,"/",$piece,"/",$item,"/",$piece,

[2016-05-18 18:40] NinaSou opened #123 "run in local and not in HDFS"
I wanted to use this validator on a hadoop environment but it doesn't work because the reading is done on local file, how can I change this so it can read from HDFS please?

[2016-05-18 18:46] adamretter commented on #123
It is possible to use a `java.io.Reader` as the input instead of a file path, see - https://github.com/digital-preservation/csv-validator/blob/master/csv-validator-core/src/main/scala/uk/gov/nationalarchives/csv/validator/api/CsvValidator.scala#L54

[2016-05-19 00:18] NinaSou commented on #123
Thank you for the answer. Now I am having an other problem. When I run it on Hadoop I have these error :  java.lang.NoSuchMethodError: scala.Predef$.$conforms()Lscala/Predef$$less$colon
After some research on the net it may th version of scala 2.11 that is used on the API tha cause the problem. Can you help with this issue too please?
![error](https://cloud.githubusercontent.com/assets/19435802/15

[2016-05-19 13:17] adamretter commented on #123
The CSV Validator uses Scala 2.11.7, I think it would also compile on 2.11.8 and probably several earlier version of 2.11.

I suspect that you have a different scala-lang-*.jar on your classpath in Hadoop which is older (i.e. pre 2.11). Can you check your classpath please?

[2016-05-19 14:33] NinaSou commented on #123
Acctually the hadoop use the scala version 2.10 and I can't modify it. I have take the version of the validator API 1.0-RC3 that use scala 2.10 and I had a different error. The error is like below
![error validate](https://cloud.githubusercontent.com/assets/19435802/15396995/c139cf60-1dde-11e6-8691-aba55fbc6bba.PNG)

An other problem is with the schema CSV when I run it locally it put The error :

[2016-05-19 14:37] NinaSou commented on #123
I have search for some exemple for schema that we can use with version of the validator 1.0-RC3 but I didn't find that.
If you can provide me an exemple that use separator please? thank you

[2016-05-19 14:47] DavidUnderdown commented on #123
I'm pretty sure 1.0 RC3 didn't support the separator directive fully (see #48, which post-dates RC3).  Any other aspects of CSV Schema Language 1.0 should be OK with RC3 in general terms but there have been various bug fixes and performance improvements since then.

[2016-05-19 14:50] adamretter commented on #123
@NinaSou Please can you open a separate issue for your CSV Schema issue and remove the details of that from here? I don't want to mix the two issues!

I am afraid that I cannot support older versions of the CSV Validator, unfortunately I just don't have the resources. If you want to use an older version of the CSV Validator or an older version of Scala then I am afraid that you are mostly on your

[2016-06-20 10:55] glebsts opened #126 "gfc-semver seems down"
Hello,
Tried to add csv-validator-cmd 1.1.4 to my gradle file - failed with
[code]
Walked through different repos - same story. Not sure what should be fixed :) Asked in gilt gitter chat, but it is quiet.
Any advice? I have working package downloaded (that includes all libs) but would prefer not to keep it in repository.

[2016-06-20 11:08] adamretter commented on #126
Seems to be available just fine for me from the repository described in the `pom.xml` or `csv-validator-core`, i.e.

[code]

What seems to be the issue for you?

[2016-06-20 11:21] #123 closed

[2016-06-20 11:22] glebsts commented on #126
Thank you, added this repo explicitly to gradle repo list, resolved.
Unfortunately http://mvnrepository.com/artifact/uk.gov.nationalarchives/csv-validator-core/1.1.4 lists this dependency but does not provide it.

[2016-06-20 11:22] #126 closed

[2016-06-20 11:24] adamretter opened #127 "Improve parsing speed"
Based on - https://github.com/uniVocity/csv-parsers-comparison

Just a reminder to finish this, where we switch parser from OpenCSV to JacksonCSV - https://github.com/adamretter/csv-validator/tree/csv-parser

We could also investigate ParaText performance claims - http://www.wise.io/tech/paratext

[2016-06-20 11:27] adamretter commented on #126
@glebsts It is provided. We release to Maven Central, if you look at https://repo1.maven.org/maven2/uk/gov/nationalarchives/csv-validator-core/1.1.4/csv-validator-core-1.1.4.pom

You can clearly see the dependency declaration and also the repository declaration.

[2016-06-20 11:37] glebsts commented on #126
Then gradle failed for me, sorry :)
Btw, it downloaded scala-parser-combinators_2.11-1.0.3.jar according to pom. Current cmd archive distibution includes scala-parser-combinators_2.11-1.0.1.jar, others same (exc scodec-bits_2.11-1.0.9, which seems ok). Calling validator with 1.0.3 lib caused
[code]
for me. Replaced this lib with 1.0.1 and works good. Didn't find anything in issue tracker :\

[2016-06-21 15:31] DavidUnderdown opened #128 "Using an invalid column reference as a string provider does not produce a helpful error message"
If a column expression uses an invalid column reference as a string provider the CSV Validator returns a Java null pointer exception, rather than an error message that explains that the column reference is invalid.  eg if there is resource_uri column then doing in($resource_uri) in another column doesn't produce a useful error message, so it can be very hard to track down the problem in the schema

[2016-06-21 18:48] adamretter commented on #128
A big omission from the CSV Schema spec is error conditions. Ideally there should be a code defined in the spec for each class of error, if you did that, we could implement that. The W3C XPath and XQuery specs are a useful example of a spec which defines error codes.

[2016-06-22 08:39] DavidUnderdown commented on #128
we define broadly the concept of schema errors v validation errors (and warnings), though admittedly this type of column name reference error is not included in the examples given for schema errors.

I can look at at least tightening those definitions up a little for 1.2

[2016-07-14 09:47] seamang opened #129 "Integritycheck fails on paths including minus signs"
Integritycheck breaks paths at minus signs, and then fails to find the resource at that path.

For example, given a folder containing a file at:

/mnt/test/RW_32/content/IM_TNA_102013_1015.fluencycontent-schoolwebsite.netdna-ssl.com/IM_TNA_102013_1015.fluencycontent-schoolwebsite.netdna-ssl.com-20151118170135-00000.arc.gz

Integritycheck fails on both the directory and the file:

Error:   integrit

[2016-07-20 06:10] autoasm opened #130 "OutOfMemoryError failure when process huge csv file."
Hi guys

csv-validator is a really powerful tool for efficient data exchange,  thanks for your contribution!

I just met an problem when I validate a huge csv file which contains 10Millions+ records. That would be wonderful if you guys could fix the issue in the later version.

[code]

Thanks!

Alex

[2016-07-20 08:05] DavidUnderdown commented on #130
Hi, as noted in the user guide, memory can be an issue with large files, particularly if you are using the uniqueness test, as the validator has to build a hashmap to be able to test for that.  The user guide does describe how to increase the available Java heap http://digital-preservation.github.io/csv-validator/#toc16.  The largest heap we've had to employ ourselves is 6GB.

If you're not using

[2016-07-20 08:15] adamretter commented on #130
@DavidUnderdown there are improvements that we could make to unique to reduce memory. For example switching the in-memory data structure to a trie, perhaps a bloom filter, and keeping the absolute map of unique values on persistent storage as opposed to in memory.

[2016-07-20 08:16] adamretter commented on #130
@autoasm @DavidUnderdown is there a publicly available huge CSV file and CSV schema we could use for testing?

[2016-08-09 15:40] DavidUnderdown opened #132 "validator not processing quoted identifiers beginning with a space"
Processing a sample file received from a supplier, they had (probably inadvertently) included spaces at the start of a couple column names (and I wanted to try to get the file to validate without altering the original).  The definition of a Quoted Identifier does not say that a space cannot be used at the beginning, so this should work.  Error message was "Error:   Metadata header, cannot find the

[2016-08-25 15:29] DavidUnderdown commented on #128
On a related note, if an incorrect column reference is used within a concat, this does not produce a Java null pointer exception, but the test simply fails. As the error report does not show the values from the referenced columns it can be hard to work out where there is an error as manually comparing the columns it is difficult to see why the concatenated value does not match as expected.

[2016-10-31 23:34] azelenov opened #134 "Different column order is not supported"
If CSV schema has different order of columns then CSV header, error "_Error:   Metadata header, cannot find the column headers -  - .  (Case sensitive)"_ will be shown. This message is not user friendly and very hard to debug.

**Steps**:
Given some CSV file and CSV schema with correct validation
1) Change order of columns in schema or CSV file

**Expected result:**
Information message is shown "P

[2016-10-31 23:45] adamretter commented on #134
@azelenov I see that you are correct, it is not explicit in the CSV Schema language that columns in the CSV Schema should be specified in the same order as the CSV file itself. However, from my subjective reading of it, it does seem that this is implicit.

So I would suggest that the error messages could be improved, and that it should be made explicit in either the documentation of the implementa

[2016-11-02 10:43] DavidUnderdown commented on #134
We'll review this and come back to you.  Implicitly we were anticipating that the tests should appear in the same order that the columns are expected to be in the CSV file.  For us that order is important due to how we transform the CSV into XML later in our workflow, but I appreciate that that might not always be the case.  In the short term, we'll probably just make it explicit that the order of

[2016-11-07 08:30] pavanraotk opened #136 "Validate two columns vs two columns"
Hi,

I have a scenario where:

a. Column A and column B
b. Column C and Column D

a should not be equal to b, how do I do this?

Sorry, I didn't find any other place to ask this question.

Regards,
Pavan

[2016-11-07 09:31] DavidUnderdown commented on #136
Pavan,

There's no direct way to do it.  If you can treat the values as strings for the purposes of the comparison, I think it may be possible in a slightly roundabout way with conditional statements and concatenation.  Could you give some example data (both cases that should pass, and some that should fail), and I'll see if I can work it out?

[2016-11-07 10:29] pavanraotk commented on #136
David,

Please find my attached csv and csvs.

Initially my column1 and column3 were supposed to be unique. But then a
genius came up with a requirement where he wanted combination difference
only(i.e column1 + column2 != column3 + column4). So, essentially in
myFile.csv -> Line 2 should be successful and Line 1 should not be
successful.

On Mon, Nov 7, 2016 at 3:01 PM, David Underdown <notificati

[2016-11-07 11:07] DavidUnderdown commented on #136
Pavan,

Unfortunately attachments don't seem to come through into the comments, can you just put the CSV rows inline?

Thanks

[2016-11-07 12:01] pavanraotk commented on #136
David,

My File:

Column1,Column2,Column3,Column4
9844460190,12,9844460190,12
9844460190,12,9844460190,13

The below csvs was for older requirement.

CSVS:

version 1.0
@totalColumns 4
/*
This schema is for validating bulk upload csv files
*/
"Column1": positiveInteger length(10) unique($"Column2")
"Column2": positiveInteger
"Column3": positiveInteger length(10)  unique($"Column1")
"Column4": posi

[2016-11-07 16:31] DavidUnderdown commented on #136
I think that:

Column1: if(is($Column3),$Column2/not($Column4))
Column2: if(is($Column4),$Column1/not($Column3))

Should give basically the behaviour you're after (you'll obviously need to add in the rest of the conditions to that, and if you don't put an else clause on those two, be absolutely sure that is the behaviour you want, as it is effectively an empty rule).

[2016-11-11 03:33] pavanraotk commented on #136
Hi David,

Sorry for the late reply, was caught up in release formalities, that worked
really well! Thanks a lot, don't know why I didn't think of that!

On Nov 7, 2016 10:01 PM, "David Underdown" <notifications@github.com> wrote:

[2016-11-11 09:15] DavidUnderdown commented on #136
No problem.  It's good to see others are finding the validator useful.

[2016-11-11 09:15] #136 closed

[2016-12-19 11:55] DavidUnderdown opened #139 "Saving result output should give a UTF-8 encoded text file"
The default save option for results output in the GUI seems to result in a windows-1252 encoded file (probably system locale dependent).  To be consistent with the input it should be UTF-8 (without BOM).  Ideally console output in the command line would also be UTF-8 encoded.

[2017-01-18 11:58] DavidUnderdown opened #141 "Parsing schema before beginning data validation can take a significant length of time with complex schema, status bar should give more info on that stage"
It can take a significant length of time (over 5 minutes) to parse complex schemas and begin actual validation.  This phase may also include an initial pass through the CSV file to calculate the number of lines to be processed (the longest times for this phase have been observed while processing a CSV file with >1.4million lines).  At this point the status bar does not show anything, and there is

[2017-01-21 01:05] adamretter commented on #141
@DavidUnderdown On the topic of performance there are a couple things that I started but did not have time to finish which could help:

1. Schema Parsing could be improved by switching to a faster Parser. We started with Scala's Parser Combinators as they are very easy to use and create from an EBNF. We later integrated Packrat Parsing to improve performance. With a little profiling if we determin

[2017-01-23 12:08] DavidUnderdown commented on #141
Thanks Adam.  Re point 3, have to be a little bit careful as it is permitted to have a line break within a quote-wrapped field, so number of line breaks doesn't necessarily equate to the number of rows of CSV.

[2017-01-24 11:20] rhubner commented on #129
Limited fix. We pick up last content folder in whole path.

[2017-01-24 11:20] #129 closed

[2017-01-30 12:45] alexgreenDP commented on #141
Parsing side already in #127 - taking this issue forward will look just at amendments to status bar to give a bit more communication as to what work is being done by the validator

[2017-01-30 12:52] alexgreenDP commented on #68
Decision made that this is out of scope for the CSV validator.

[2017-01-30 12:52] #68 closed

[2017-02-21 21:07] kenhosr opened #142 "Progress bar info is in-correct when there are line-breaks within cell"
Git commit version: 3be31fbf48fd5d34a617e067dce9c48d1a43908b
Use attached file to reproduce.

The csv file contains 1 column, with 2 records in total, besides the header row.
There are line breaks within cell.

Use CSV Validator UI, set the csv and csvs file, then validate

Expect:
The progress bar should be in complete status after the validation process completed successfully.

Actual:
Line 3 of

[2017-02-21 21:20] kenhosr opened #143 "Will CSV Validator support column definitions wild card?"
Git commit version: 3be31fb

Currently, to write a CSV Schema, we need to know exactly what are the column names and list them all in the CSV Schema file.

Do we have plan to support wild card?

Example:
Suppose the CSV file contains columns from phone_1 to phone_10, all the column definitions are same for the 10 columns.  Currently, we need to repeatedly define phone_x definitions 10 times, which

[2017-02-21 21:25] kenhosr opened #144 "Option to ignore undefined columns"
Currently, in the schema, we need to define every column, even when some columns we actually don't care, we still need to list them and associate empty rule with them.

With a global directive to ignore undefined columns, means apply no rule to the un-defined columns, it will be helpful.

[2017-02-21 21:27] kenhosr commented on #134
+1

[2017-02-22 09:36] DavidUnderdown commented on #143
Thanks, we'll probably revisit this in conjunction with #141 - as mentioned the there the line count generation takes a significant amount of time with large input files.

[2017-02-22 09:45] DavidUnderdown commented on #144
We'll give this some thought - it would have to be an option mutually exclusive to @totalColumns as that verifies that the number of rules matches the number of columns in the file being validated.

[2017-02-22 10:06] DavidUnderdown commented on #143
See digital-preservation/csv-schema#13 - this has been suggested by another user, but we don't have resource to implement at the moment.

[2017-02-22 10:07] DavidUnderdown commented on #143
See digital-preservation/csv-schema#13 - this has been suggested by another user, but we don't have resource to implement at the moment.

[2017-02-22 10:09] DavidUnderdown commented on #142
Thanks, we'll look into this when we revisit #141 - as mentioned there generating the line count can take a significant amount of time with large CV files, and ideally however we deal with that will properly take account of line breaks within a row which should also resolve this issue.

[2017-02-22 21:23] kenhosr commented on #142
if I update below method, the progress bar will display correctly for the above case.

Wondering why when we read Row to validate, CSVReader is used; while count total rows, JLineReader is used.

`protected def countRows(reader: JReader, schema: Schema): Int = {
    //    val rowsAsHeader = if (schema.globalDirectives.contains(NoHeader())) 0 else 1
    //    Try {
    //      val lineReader = new

[2017-03-27 09:38] maikpf opened #145 "Encoding error"
UTF-8 encoded schema get errors on umlaut e.g. 'ä'.
[code]
Output is:
[code]
All files UTF-8 encoded and loaded by java.io.Reader with charset name parameter.

[2017-03-28 09:29] DavidUnderdown commented on #145
Thank you, we will take a look

[2017-03-28 15:19] DavidUnderdown commented on #145
I'm afraid we cannot reproduce this.  I've tried gui versions 1.1.2 and 1.1.5 with a minimal schema ie

version 1.1

and csv file:

and validation is successful.

Can you give anymore information about your environment (operating system, gui or command line etc)

[2017-06-13 08:57] DavidUnderdown commented on #145
As we've been unable to reproduce this, and haven't had any additional info I'm going to close this

[2017-06-13 08:57] #145 closed

[2017-06-13 09:08] DavidUnderdown opened #146 "GUI setting and command line option to ignore checksum rule"
When dealing with a CSV file that refers to a large quantity of data that requires checksumming that can add a very significant overhead to running CSV validation.  It would be useful to be able to turn off checksumming in the validator to allow for quicker checking of other rules.

Of course one can simply remove the checksum rule from the schema, but then it's easy to save the wrong version of t

[2017-07-10 16:34] RaccoTaco opened #147 "Separator being detected in values encased in quotation marks; quoted directive being used"
For the CSV file, a separator of ',' is being used. However, for some values within a column, a separator can be found (ie, Name of product: "Cheese, Low Fat") . Can the separator be expanded into using regex? Or is there another way I can go about this without changing the separator value?

[2017-07-10 16:41] DavidUnderdown commented on #147
You should just quote-wrap the field if it contains separator characters, ie your CSV file would have "Cheese, Low Fat" (including the quote marks) in the name_of_product field eg:

quantity,name_of_product,unit_price
5,"Cheese, Low Fat",2.50
1,"Cheese, stilton",3.70
3,"Milk, semi-skimmed",0.50
5,Pork pie,4.00

[2017-07-10 16:45] RaccoTaco commented on #147
All values are encased in quotation marks, and those values are separated by a comma. However, when running through the validation, I get errors back.

[2017-07-10 16:49] DavidUnderdown commented on #147
Can you give an actual example of the csv and schema please? it's more likely to be something other than the separators in that case.

[2017-07-10 16:53] RaccoTaco commented on #147
Oh, sorry about that. I just double checked in the file and noticed an empty line throughout the 90k+ lines.  Again, so sorry about that.

[2017-07-10 16:53] #147 closed

[2017-07-10 17:42] RaccoTaco opened #148 "Special Characters"
Sorry to bother again; I found one more issue within the file. Some of the products contain special characters, like "Piñata" -- and from that, I get a "Invalid UTF-8 sequence" error. Is there any way that those characters can be passed in without error?

[2017-07-10 17:54] adamretter commented on #148
@RaccoTaco There is nothing about "Piñata" that would mean that it could not be encoded in UTF-8. I suspect that your input file is not correctly encoded with the UTF-8 charset. You can use this tool to check https://github.com/digital-preservation/utf8-validator

[2017-08-29 14:53] eripey opened #149 "Ignore quotes in for column"
@totalColumns 20
@separator '|'
@noHeader

above is my directives, I am running into a problem with some of my columns that have quotes in them.  I have tried the character literal for the separator directive http://digital-preservation.github.io/csv-schema/csv-schema-1.1.html#dfn-ebnf-character-literal

doesn't seem to like it.

[3.12] failure: `'' expected but `"' found

@separator "'" [|^\r\n\f

[2017-08-29 15:14] DavidUnderdown commented on #149
[RFC4180](https://tools.ietf.org/html/rfc4180) specifies that quotes must be escaped with \ if you want a literal quote character within a CSV file.

The field separator is completely separate and specifies an alternative to the use of a comma to separate individual fields.

[2017-08-29 16:16] eripey commented on #149
I have a file file that is csv by a vertical bar or pipe.   There are some columns  in a record that have one double quote in them and that's what is causing the fail.   This file was generated by another person/company with about 3 million rows.

I was wondering what kind of syntax I can use in the separator to have ignore the any double quotes to prevent in the field.

[2017-08-30 08:33] DavidUnderdown commented on #149
In essence it's not valid CSV I'm afraid, double quotes should be escaped.  even if the @quoted directive was fully implemented in the validator currently that's not what it's designed to deal with.  This wasn't a use case we considered I'm afraid.

[2017-08-30 13:00] eripey commented on #149
Okay, thank you for answering.

[2017-09-01 13:36] adamretter commented on #149
@eripey You could pre-process your CSV with sed or similar to get it into a more standard format for the CSV validator.

[2017-09-01 13:45] eripey commented on #149
Can you tell me more about sed?

Sent from Outlook<https://aka.ms/qtex0l>
________________________________
From: Adam Retter <notifications@github.com>
Sent: Friday, September 1, 2017 6:36:12 AM
To: digital-preservation/csv-validator
Cc: eripey; Mention
Subject: Re: [digital-preservation/csv-validator] Ignore quotes in for column (#149)

@eripey<https://github.com/eripey> You could pre-process you

[2017-09-01 14:00] adamretter commented on #149
@eripey nope, but the Web can - https://en.wikipedia.org/wiki/Sed

[2017-09-01 14:19] eripey commented on #149
Thanks. I appreciate the help.

Sent from Outlook<https://aka.ms/qtex0l>
________________________________
From: Adam Retter <notifications@github.com>
Sent: Friday, September 1, 2017 7:00:21 AM
To: digital-preservation/csv-validator
Cc: eripey; Mention
Subject: Re: [digital-preservation/csv-validator] Ignore quotes in for column (#149)

@eripey<https://github.com/eripey> nope, but the Web can - ht

[2017-09-05 15:10] eripey commented on #149
Okay, I was reading the RFC for the double quotes on page 3, If double-quotes are used to enclose fields, then a double-quote
       appearing inside a field must be escaped by preceding it with
       another double quote.

I don't see anywhere about using \ as the escape.  I tried it  in the document \" but it still didn't work.  How am I supposed to the the escape character \  ?

[2017-09-05 15:33] DavidUnderdown commented on #149
Sorry, I thought that both \" and "" were valid ways of escaping a quote character, but it looks like you're right per the spec.  I suspect that most CSV processing libraries would recognise either though.  Basically you need to replace any occurrence of " that should literally be that with either \" or "", so using your example above it should look like:

First field value| this is the ""Second V

[2017-09-05 16:01] eripey commented on #149
I tried the Second example and it didn't like the example usage.  I am now trying your first example.

[2017-09-08 12:23] c3iot-santilh opened #150 "validate incoming stdin"
Hi,

it would be great to be able to do `zcat myfile.csv.gz | validate myschema.csvs`. It should be easy to do given that you already handle streams. I have tried `validate $(zcat myfile.csv.gz) myschema.csvs` but it runs out of memory on the decompression.

[2017-09-08 13:01] adamretter commented on #150
At the moment we don't support reading from std-in, but it is an interesting idea. May I ask how large your CSV file is compressed, and also how large it is uncompressed?

[2017-09-08 13:07] c3iot-santilh commented on #150
The largest file is 300Gb compressed, about 4x uncompressed.

[2017-09-08 13:09] adamretter commented on #150
@c3iot-santilh Wow that is quite something! Is this a file that you might be able to share with me for testing purposes?

[2017-09-08 13:22] c3iot-santilh commented on #150
Unfortunately, I cannot. But I can share a sufficiently-large fake csv file if required. Would you use an approach like [this](http://carminedimascio.com/2014/01/named-pipes-with-java/)?

[2017-09-08 13:34] adamretter commented on #150
@c3iot-santilh No. Named pipes are for IPC between two processes which know the name of the pipe. In this case we would simply read from std-in, which in Java is available as a Reader.

Do you have a script for generating such a fake CSV file that you could share?

[2017-09-08 13:45] c3iot-santilh commented on #150
Would this work? http://ask.metafilter.com/227734/Giant-CSV-Files-Needed

[2017-09-08 14:27] adamretter commented on #150
@c3iot-santilh I can generate something. I just wanted something representative of what you were using if you had a script for such a thing. No worries otherwise.

[2017-09-08 20:47] jakesebright opened #151 "Ability to Validate Multiple Files Simultaneously in GUI"
It would be useful to be able to open multiple CSV files at once for validation in the GUI.

[2017-10-11 16:54] adamretter opened #157 "CSV Schema Parse speed"
We could improve the performance of parsing the CSV Schema (not the CSV), by replacing the Ratpack parser combinators. A bit of research and investigation, seems to suggest that the strongest choices for a more performant implementation would be:

1. http://www.lihaoyi.com/fastparse
2. https://github.com/djspiewak/gll-combinators
3. https://github.com/begeric/FastParsers
4. https://github.com/sirt

[2017-11-13 11:04] paulyoung84 commented on #151
We will keep this mind and add it to our backlog to be prioritised. You can open separate instances or use a batch script or shell script to run over multiple files. We would also welcome any pull requests on this feature.

[2017-11-13 11:18] paulyoung84 commented on #150
We will add this to our prioritisation backlog. We would be happy to receive any pull requests around this feature.

Implementing this will likely have effects on providing progress updates and memory issues (as you have mentioned above).

[2017-11-13 11:20] #148 closed

[2018-02-22 13:37] DavidUnderdown commented on #128
This is actually probably a duplicate to #118

[2018-02-22 13:37] DavidUnderdown commented on #118
There's more discussion on #128 which is essentially a duplicate so will close this one

[2018-02-22 13:37] #118 closed

[2018-04-16 17:53] thomas-vincent opened #159 "validator get stuck with malformed comment"
This schema causes the validator (gui or cmd) to get stuck:
[code]
The doc indeed says that asterisk cannot be used inside a multi-line comment.
But the validator should nicely complain instead of getting stuck ;)

[2018-04-17 10:26] mhGLEIF commented on #79
This is definitely needed to use at scale and / or programmatically.

[2018-04-20 15:12] DavidUnderdown opened #160 "regex doesn't seem to work with multiline field values"
I'm expecting some catalogue descriptions that will have a particular format that means there will be line breaks in them so I wrote the following regex

`Registration Sub-District: [A-Z][a-z]{2,20}( [A-Z][a-z]{2,20}){0,3}\r\nCivil Parish[,;] Township or Place: [A-Z][a-z]{2,20}( \(part\))?((( )|(, ))[A-Z][a-z]{2,20}( \(part\))?){0,5}`

expecting it to match data like

Within CSV Validator it gives

[2018-07-29 23:04] valnz opened #162 "Error on range validation when value can be empty"
Hi, when validation tool try to check if value is in a range, I think it should not throw error if value is empty (i.e. = ''). Can this logic be somehow overwritten or do you think it is a bug?

[2018-07-30 08:13] DavidUnderdown commented on #162
If you want empty values to be allowed as well, use the @optional directive.  range means there must be a numeric value in the stated range.

[2018-07-30 08:13] #162 closed

[2018-07-30 09:16] valnz opened #163 "Change end of line character"
Hi, I couldn't find how to specify different "new line" character. Can it be added or maybe I miss something?
Thanks heaps for answer in advance.

[2018-07-30 09:20] DavidUnderdown commented on #163
There isn't an option for that I'm afraid.  However, both Windows and Linux line endings will work I think, and it's likely the underlying CSV library would understand other common endings too, have you tried it?

[2018-07-30 09:56] valnz commented on #163
Hi David, some files that I am trying to validate originate from old Sybase system, and they have special end of line character set, I will try it tomorrow at work, and will let you know if it worked. Thank you for a quick response.

[2018-07-30 10:16] DavidUnderdown commented on #163
OK.  Your best bet in the short-term (if it doesn't work) may be to simply find-and-replace the line ending with a standard one as we're short of developers at the moment so it's unlikely we'd be able to prioritise any sort of enhancement request at the moment.

[2018-07-30 16:38] adamretter commented on #163
@valnz CSV Validator is based on OpenCSV, we also have a PR waiting to be merged which switched it to uniVocity. Unfortunately neither the OpenCSV or uniVocity parsers as far as I can tell support anything other than Windows (CRLF), Unix (LF), and Mac before OSX (CR).

Out of interest what is the line ending in your Sybase system?

I think as @DavidUnderdown suggested, your best bet right now is t

[2018-07-30 16:39] adamretter commented on #163
@DavidUnderdown as our underlying choice of parsers does not support the line endings requested by @valnz, I suggest we close this ticket as "wonfix".

[2018-07-31 01:39] valnz commented on #162
Thanks David, thanks for your answer, it really helped and it worked. I think it could be very helpful if you add information about it under Not Empty Expression. It seems like if you specify a range, you expect value to be not empty, so I was expecting to find this information under this section.

[2018-07-31 06:06] valnz commented on #163
Hi, thanks guys for comments and explanation. I was not able to test it today due to many interruptions at work. Will be testing it tomorrow.

[2018-08-01 08:19] DavidUnderdown commented on #162
They're fundamentally different things, notEmpty means there must be something (anything) in this field, but we don't care what.  Otherwise as soon as you specify a rule on a field the data must precisely match the test given (unless you supply the optional directive, which means if there is some data in this field in must match the rule)

[2018-08-01 19:11] valnz commented on #163
Hi guys, Sybase was giving us files with 0x0A as a new line, and it is a new line in ASCII, which magically worked. I couldn't get the file itself that why was not able to test it. And by the look of the chars in requirements on a meeting, thought it must be some special Sybase "new line". But it appeared that it is just a different encoding. Thanks for your support, probably issue can be closed :

[2018-08-01 19:13] valnz commented on #162
Hi David, but when I don't specify notEmpty, I assume, that value can be empty in any other case, Anyway, maybe it is just my understanding, but I think it is confusing.

[2018-08-02 07:55] #163 closed

[2018-08-02 20:39] valnz commented on #162
Hi David, but you don't read all document, when creating these schemas, I think more clarity needs to be added in places where people trying to find information about a concrete column definition rule, like where notEmpty or at least where range is. You already have a use case, where person couldn't find about it easily, isn't it enough?

[2018-08-03 08:34] DavidUnderdown commented on #162
The range definition starts "checks that the value of the column is a number", fundamentally a blank is not a number.  However, maybe the easiest thing to do is just expand the range of examples there to give one using the optional directive.

[2018-08-30 17:47] spectramedix commented on #149
Hi, I want to identify the column strings which are present in the double quotes.
for ex: in my csv file i have values like a,"a",b,"b"..... under the column Id .
I need a regex to identify columns which are only in the double quotes or viceversa..
Please help me with this.......my formula is regex("\".*\"")  which will give error if values are not in double quotes.

[2018-08-30 19:15] spectramedix commented on #149
ID: regex("\".*\"")  i have tried using this formula along with regex("^".*"$") and other ways too....

[2018-08-31 07:55] DavidUnderdown commented on #149
As explained above, you need to escape your quote marks by preceding them with \ - typically quotemarks simply around a field will be ignored by CSV processors - they just confirm that the field contents is text, and that any commas in text between quotes should not be treated as a field separator.

[2018-08-31 15:38] spectramedix commented on #149
Thanks for the above explanation, it helped me to solve only one scenario but for the below scenario it doesn't work,
Scenario: ID: "a","b",c,"d",e,"f" ------ I need to raise an exception for the column ID to the values c,e which doesn't has double quotes.
Ideally this regex should work but it is not ----> ID : regex("^".*"$"). Please suggest

[2018-08-31 15:45] DavidUnderdown commented on #149
The problem is CSV Parsers don't tend to see any difference between "c" and c due to the way the RFC defines the CSV standard.  The two things are entirely interchangeable so far as CSV is concerned. It would only work if the quotes in the CSV file itself were escaped, or possibly if we had implemented the quoted directive fully, allowing you to change the quote character to something else.

[2018-09-04 15:00] spectramedix commented on #11
Hi,
I am getting below exception message for empty and length(0) and is("") expressions.
Row Number: 0  Column Number: -1  Exception Message: metadata file has a header but no data and this has not been permitted

[2018-09-04 16:58] adamretter commented on #11
@spectramedix please open a new issue and link to your csv file

[2018-09-13 17:19] WesAnderson-NJ opened #164 "Row Terminator"
Do we have a row terminator just like we have column separator like comma, tab and character

[2018-09-13 17:23] WesAnderson-NJ opened #165 "UTF 8 errors"
I am getting UTF 8 errors like
1) Invalid UTF -8 sequence byte  of  byte multibyte sequence
2) Invalid single byte UTF-8 character

Any directive or declare statement to avoid such errors ?

[2018-09-13 23:04] WesAnderson-NJ opened #166 "Catch SingleSpace String"
RegexRule: `notEmpty` is not working for the strings `" "` with single or more space strings.

My rules are: `regex("?![\s]") ; not("\\s") ; not("[\s]") ; not(" ")`.

Please suggest me a rule for this scenario

[2018-09-14 08:52] DavidUnderdown commented on #165
Is your data expected to be UTF-8?

You can control UTF-8 validation via the settings pane if you're using the GUI, see http://digital-preservation.github.io/csv-validator/#toc7 (you can choose windows 1252 instead, or disable altogether), or via command line options http://digital-preservation.github.io/csv-validator/#toc11

[2018-09-14 08:53] DavidUnderdown commented on #166
This feels like a bug, it's probably the underlying CSV library dropping spaces.

[2018-09-14 08:55] DavidUnderdown commented on #164
Not currently no, the underlying CSV library should handle common line endings.  This would need to be added to the CSV Schema Language before it could be implemented in the validator.

[2018-09-14 10:51] DavidUnderdown commented on #166
Sorry this is not a bug, notEmpty means there is nothing at all in the field, ie an empty string.

If you want to allow some amount of white space, but nothing else, regex("^\s*$") would be minimal I think.

[2018-09-14 17:16] spectramedix commented on #165
I am using csv-validator-java-api.

[2018-09-17 08:41] DavidUnderdown commented on #166
Your example file and schema validate OK in the GUI, so it's possible there's a bug in the API. Are you seeing any other errors in the console?

[2018-09-17 13:40] spectramedix commented on #165
I am using csv-validator-java-api, how can i pass the argument "--disable-utf8-validation" in command line.

[2018-09-17 14:08] DavidUnderdown commented on #165
Hopefully one of the developers will be able to explain that

[2018-09-18 13:57] spectramedix commented on #166
No other errors

[2018-09-18 21:44] LauraDamianTNA commented on #166
Hi,

I tried your file and schema with the csv-validator-java api and I got no errors.
Here is how i did it:
https://gist.github.com/LauraDamianTNA/14adfc3c1e1bf0b91ec312db59d72507

[2018-09-19 15:59] spectramedix commented on #166
Hi Laura,
Thanks for the reply, even i am able to run the file but unable to catch the string which has single spaces
For Ex: if my rule is:- notEmpty and regex("^\s*$") and the string is " "(which has single space)
It has to throw an error - but it is not(though its not empty but has to catch that single space character)

Please check this and let me know a better rule.

[2018-09-19 16:26] DavidUnderdown commented on #166
Sorry, I think we've been slightly at cross purposes, you want to fail if it's not empty, but contains only whitespace?

In that case changing the regex part to regex("^\S*$") should work, ie whatever's in the notEmpty content must be something other than purely whitespace characters.

[2018-09-19 18:32] spectramedix commented on #166
David, you are partially correct- case1: I want to fail when the cell has -  " "
But, the above regex rule is failing even for this case2- when cell has -  "ab cd".
I want to fail only case1.

[2018-09-19 18:42] spectramedix commented on #149
I want to fail the cases when the values has extra quotes between them. i.e,, i want to fail these below value
"abc"bva" -- which has unwanted quotes. I am attaching my files please check and help with a rule.
[fail_quotes.zip](https://github.com/digital-preservation/csv-validator/files/2398341/fail_quotes.zip)

[2018-09-24 19:59] WesAnderson-NJ opened #167 "Unable to deploy the project inNetbeans"
I am getting the following exception when i am trying to deploy the whole project in netbeans.

Failed to execute goal on project csv-validator-ui: Could not resolve dependencies for project uk.gov.nationalarchives:csv-validator-ui:jar:1.2-RC3-SNAPSHOT: The following artifacts could not be resolved: uk.gov.nationalarchives:csv-validator-cmd:jar:1.2-RC3-SNAPSHOT, uk.gov.nationalarchives:csv-validat

[2018-09-25 04:48] adamretter commented on #167
@WesAnderson-NJ I would try running `mvn clean install` from the command prompt before opening the project in NetBeans.

[2018-09-25 04:54] adamretter commented on #166
@WesAnderson-NJ What you really are asking for is help to write a Java regular expression that matches for your use-cases.

I think you might this article helpful - https://stackoverflow.com/questions/5599934/regular-expression-that-allows-spaces-in-a-string-but-not-only-blank-spaces

You can also try out your regular expressions here - https://regexper.com/

[2018-09-25 04:54] #166 closed

[2018-09-25 05:16] adamretter commented on #159
Looks like we have some ambiguity in the Grammar :-/

[2018-09-25 09:10] DavidUnderdown commented on #159
@adamretter as you commented on #61 an asterisk within a multiline comment is not allowed by the EBNF.  Thomas can you confirm which version you're using as this issue seemed to have been fixed by something else last time I tried it.

[2018-09-25 09:12] DavidUnderdown commented on #149
"abc"bva" should not even be valid in a CSV file, the parser should trip on that, the middle quote (ie after c) would need to be escaped.

[2018-10-02 20:17] WesAnderson-NJ commented on #165
Thanks for adding this feature, how can i enable/disable this UTF-8 validation ?

[2018-10-30 20:52] juzerali opened #170 "Support for InputStream"
Currently, the parser accepts a file path to read the file. If it can accept `InputStream` instead, this library will be useful for a lot of use cases.

[2018-11-01 14:30] alexgreenDP commented on #170
Hi juzerali,
Thanks for your suggestion. We will look into this for the next version of the tool.

Alex

[2018-11-30 12:56] filipegarcia opened #171 "Errors refering another column"
I can't have the check if a value is in another column working

Explained in
http://digital-preservation.github.io/csv-schema/csv-schema-1.1.html#ex-14-example-14-a_column-in-some-string-the-value-of-a_column-must-be-a-substring-of-some-string-eg-some-or-string-or-me-st-etc-another_column-in-a_column-the-value-of-another_column-must-be-a-substring-of-the-contents-of-a_column
[code]

I'm trying som

[2018-11-30 13:51] DavidUnderdown commented on #171
Yes, we frequently use this test.  Would the employee_manager_id really be a substring of employee_id though?  What relationship do you actually want between these fields?

[2018-11-30 14:32] filipegarcia commented on #171
I was trying `is`, `any` , `in` and even `startsWith`

`schema.csvs`
[code]

`test.csv`
[code]

and I'm running the cli validator
[code]

[2018-11-30 16:10] DavidUnderdown commented on #171
I think it's because you have a space following each comma which is treated as part of the field value (see how the error message says value: " 1234").

Change your data to

and see what happens

[2018-11-30 19:36] filipegarcia commented on #171
I get the same thing,
[code]
my real data is also clean, no spaces before or after.

I'm running `CSV Validator - Command Line 1.1.5`

[2018-12-03 10:00] DavidUnderdown commented on #171
Sorry, I should have noticed this the other day: the parser operates line by line of the CSV file, is does not refer across different lines, so this would only work if the employee_id and employee_manager_id were identical in each row.  I sort of alluded to that in my first comment, but without spelling it out explicitly.  You can't check that a value in one column occurs in another column elsewhe

[2018-12-03 12:52] filipegarcia commented on #171
ohh I see, missed that one.
I'll take to another layer then.

[2018-12-03 12:52] #171 closed

[2018-12-18 13:44] mhGLEIF opened #172 "@quoted seems to have no effect on validation result"
CSV:

[code]

CSV Schema:

[code]

RESULT:

`PASS`

[2018-12-19 15:02] adamretter commented on #172
@DavidUnderdown I think actually we just need this work which I did but hasn't been merged - https://github.com/digital-preservation/csv-validator/pull/156

[2018-12-19 15:11] DavidUnderdown commented on #172
OK.  Will see if we can somehow squeeze that through.

[2019-01-03 12:49] mhGLEIF commented on #172
@DavidUnderdown @adamretter I was only looking for insight - ironically this might break my schema, since the csv files I'm working with only have quotes "where needed", e.g. when a csv field contains a comma and thus needs to be explicitly delimited ☹️

[2019-01-03 12:50] mhGLEIF commented on #172
@DavidUnderdown @adamretter it would be great if `quoted` support could be optional in a future release 😉

[2019-01-04 11:43] mhGLEIF opened #173 "Error message"
[code]

[2019-01-04 11:48] mhGLEIF commented on #173
Here's another one. I think I broke the validator with the number of errors?

[code]

[2019-01-04 12:47] DavidUnderdown commented on #173
Michael, as mentioned in the Validator documentation, you can assign more heap space to Java, see http://digital-preservation.github.io/csv-validator/#toc16.  I tend to copy the original .bat file, add in the max heap parameter and save the copy with -big-heap appended to the file name.

Now almost every system will be 64-bit we could perhaps have this set to a different value in the released batc

[2019-01-04 12:53] adamretter commented on #173
The SIGSEGV error will be a bug in the JVM itself or a memory problem on your system. Probably best to update to a newer JDK

[2019-01-04 13:10] mhGLEIF commented on #173
Thanks @DavidUnderdown @adamretter I'll talk to my admins 😄

[2019-01-05 16:32] #165 closed

[2019-01-05 16:33] #139 closed

[2019-01-07 18:29] marksteele opened #175 "Bounded error collection"
Would it be possible to implement an error collector that short circuits after a configurable number of errors (instead of the all-or-nothing approach). Ex: fail after 100 errors (and return the error messages).

This is useful when validating large files which might have lots of errors and avoids OOM issues.

Alternatively, it would be nice to collect the first N errors, then possibly statistics

[2019-01-08 04:16] adamretter commented on #175
It would seem like a good idea in the Java API to replace both the resultant `List<FailMessage>` and `ProgressCallback` with a single callback mechanism, which is notified on each validation, and can then either return a flag or throw an exception to indicate that validation should stop.

I don't have any time to implement this personally, but if someone is interested, I could suggest a design...

[2019-01-08 15:13] marksteele commented on #130
Hey guys, just a bump on this. I've built a service that opens up an inputstream (from S3) and invokes the validate function.

Testing is showing this to be very memory hungry. For testing I'm processing a 179Mb input file with 1.5 million rows (found here: http://eforexcel.com/wp/downloads-18-sample-csv-files-data-sets-for-testing-sales/).

I'm seeing it use around 1.6Gb of heap, which seems like

[2019-01-08 16:13] alexgreenDP commented on #175
Happy to hear a design and we'll add it to our backlog.

[2019-01-08 18:18] marksteele commented on #130
Just an update, my original testing was with Java 8 and version 1.1.1 of the validator.

An updated test on java 10 and the 1.2-RC2 performs much better as far as memory management goes for my test file. I'll test out larger files to see how things go.

[2019-01-09 10:42] DavidUnderdown commented on #130
There were some big improvements in #135 - they would certainly help with your example as caching of regex was introduced among other improvements.  This is included 1.1.5 and 1.2-RC2

[2019-01-15 16:03] marksteele opened #176 "Validation behavior on I/O errors"
During my testing I've found that on some conditions, the validation function returns no errors even if I/O errors occur.

I've got a service streaming the data form S3 and passing it to validate() as an input stream, and I've noticed on multiple occasions that there has been partial reads and I/O errors, but that the validation returned success and swallowed all the exceptions.

This shouldn't be

[2019-01-15 16:50] adamretter commented on #176
That definitely sounds like a bug.

Any idea how we could reproduce this easily?

[2019-02-04 15:47] afranke opened #177 "UTF-16 makes the validator unhappy"
The sample file I test my schema against is UTF-16 encoded. When I try to validate it, it breaks because the file starts with a header that gets parsed as part of the name of the first column, and that obviously doesn’t match the name in the schema.

[code]

[2019-02-04 16:36] DavidUnderdown commented on #177
UTF-16 is not currently supported I'm afraid.  Only UTF-8 (without BOM) or windows-1252.  One problem is that with plain text formats such as csv there's no way to declare an encoding within the file.  I don't know how much effort it would be for anyone to add further encodings into the validation mechanism (and we're still rather shorthanded ourselves).

[2019-02-13 10:36] a-wakeel opened #178 "Any known python bindings?"
Hi!
I was wondering if there are any known python bindings or api's for the same validator? I would be a great effort if there is any.

Thanks

[2019-02-13 10:47] DavidUnderdown commented on #178
I've got a very simplistic script (not currently public) that launches the Scala validator as a subprocess from Python 3, checks the return code and writes out the validator output.  I'm certainly not aware of any pure Python implementation or more sophisticated API being available though.

[2019-02-13 11:22] a-wakeel commented on #178
yeah i have similar usage of it too as a subprocess. But you using subprocess is kind of hard approach to me.

[2019-02-13 11:45] DavidUnderdown commented on #178
Probably the most important thing is understanding the return codes.  I have

`	try :
		csvvalidator.check_returncode();
	except subprocess.CalledProcessError as err:
		if csvvalidator.returncode == 3 :
			#this is not unexpected (a data validation issue), flag to user and continue
			print(batch,"has CSV validation errors reported see",reportFile,"for details");
		elif csvvalidator.returncode ==

[2019-02-18 14:01] afranke commented on #178
Thanks @DavidUnderdown, I’m on the subprocess train as well but my code was not as sophisticated as yours. A native implementation would indeed be nice, not only because of the more idiomatic use or for performance reasons, but also because having more than one implementation around is always a good thing for something that tries to establish itself as a standard.

[2019-02-19 11:07] afranke commented on #177
Wait a minute… I just found `-x` while looking for something else in `--help`. I tried it with `-x utf-16` and it seemed to work. Are you still saying it isn’t supported, or is it just autodiscovery of UTF-16 that is not supported? I can live with having to specify the charset on the command line!

[2019-02-19 14:18] afranke commented on #149
While I agree, it’s worth noting that LibreOffice Calc won’t trip on that and they only seem to care about separators. Resilience is valuable.

[2019-02-19 14:20] afranke commented on #159
Got bit by that as well with 1.1.5. In my case I was attempting to use a bit of markdown formatting.

[2019-02-19 14:31] DavidUnderdown commented on #149
Yes (see Postel's Law), but it's ambiguous, the software author has to make a decision how to handle cases which don't meet the spec.  Here our decision is to flag the deviation from the spec and get the input fixed because we are specifically doing validation against the spec.

[2019-02-19 14:33] afranke opened #179 "Debug log"
I have (large) files that seem valid to the naked eye but fail to validate against my schema. I’ve tried different things to find out what the issue was but no luck. For instance, I get `Error:   Expected @totalColumns of 13 and found 11 on line 1346` but if I open the file in a text editor and remove the first 1000 lines then I get `Error:   Expected @totalColumns of 13 and found 11 on line 1350`

[2019-02-19 14:51] DavidUnderdown commented on #179
-t is a trace of how the schema is parsed - what you're seeing there aren't errors as such.  It's possible there's something there though that might shed some light on this case which does otherwise seem a bit odd.

If you can open the file in a text editor, can't you just go direct to the reported line number too to inspect it directly.

What do you think such a debug report should include specif

[2019-02-19 15:49] afranke commented on #179
I expect information along the lines of:
[code]

Feel free to play with the format, that’s just a general idea. What matters here is that I should be able to check what the validator considered to be the value of each cell to check agains my expectations.

For the record I solved the above issue in the meantime: some values had a non escaped quote in them (more specifically the contained `">` in t

[2019-02-19 15:55] adamretter commented on #177
Multiple encodings should be supported. You can select them using `-x` for the CSV file and `-y` for the CSV Schema file.

[2019-02-19 15:55] #177 closed

[2019-04-05 19:45] PedroHFranco opened #180 "Allow to enter a custom error message"
Hello,

I'm new using this library and i don't found one way to return a custom messagen when got a error in a specific column.
Example:

carId: notEmpty positiveInteger **message("Car record Key is Required")**
this message should return when got any validation in this column.

If has some way to do this, can any one post.

Thanks

[2019-04-08 05:22] adamretter commented on #180
@PedroHFranco There is currently no facility for that. If you would like to contribute one though, it would be welcome.

[2019-04-16 15:16] afranke opened #181 "Option/subcommand to dump expected column and their order"
It would be nice if the validator was able to just parse the schema, dump a list of expected headers in the correct order and exit. That could then be consumed by other tools that handle the CSV files to make sure their output will comply with that before submitting them for validation.

[2019-04-16 15:26] DavidUnderdown commented on #181
Thanks for the suggestion.  I'm not sure when we'll next be working on the validator, but I'll ensure this is included in prioritisation (and we do of course welcome pull requests, this might be a relatively straightforward intro request).

[2019-04-16 15:30] afranke commented on #181
If only it was Rust or Python… :grinning:

[2019-05-13 08:56] DavidUnderdown commented on #130
It might be worth adding -XX:+ExitOnOutOfMemoryError to the start up scritps, it will then stop the validation as soon as the first such error is reported, rather than limping on until the heap is full (see https://www.oracle.com/technetwork/java/javase/8u92-relnotes-2949471.html )

[2019-05-13 10:29] adamretter commented on #130
@DavidUnderdown Agreed. Seems like a sensible idea.

[2019-05-13 15:39] DavidUnderdown opened #182 "integrityCheck is not accepting String Provider, only String Literal"
integrityCheck has always been a little problematic on digitisation projects as we hadn't asked providers to include a line for the content folder itself in the tech_acq.csv.  Lookign at the EBNF I thought I ought to be able to get around this by giving the subfolder parameter as $piece as the spec says it should accept a string provider (which covers string literals, column references and the oth

[2019-05-16 15:40] #173 closed

[2019-05-16 15:41] #167 closed

[2019-05-23 11:21] DavidUnderdown opened #183 "integrityCheck and DROID reports that scanned inside containers"
Similar to #68 if you have a DROID report that includes rows for files that are actually inside ZIPs or other "archival" containers this causes problems with the integrityCheck feature.  I tried to filter out these rows from checks such as file exists as CSV Validator cannot read inside the container, but then integrityCheck fails to detect (ordinary) added files and folders.

[2019-06-13 09:12] beoChr opened #184 "gradle: dependency com.gilt:gfc-semver_2.11:0.1.0 can't be resolved"
I have some issues with the gfc-semver dependency. Using gradle and intelliJ 2019.1.3.

Seams like the repository `http://dl.bintray.com/giltgroupe/maven` does response with an 500 error.

Yesterday I added the csv-validator the my project. At first the dependency couldn't be resolved, but after 5 minutes of tinkering around, it suddenly worked.

Today I ran a `gradle build`, now gradle again can'

[2019-06-13 09:30] adamretter commented on #184
The BinTray repository seems to be functioning fine from here right now. BinTray is usually very stable, perhaps they were just having a "blip", let us know if you have continued problems with it...

[2019-06-13 09:56] beoChr commented on #184
Thanks for the quick answer.

I just updated gradle, but it didn't help.

Seams to be another problem. I can visit `https://dl.bintray.com/giltgroupe/maven/` in the browser, but when I do a `https://dl.bintray.com/giltgroupe/maven/` I get a "Host not found" exception. Same for `https://bintray.com`

[2019-06-13 10:22] beoChr commented on #184
`curl https://dl.bintray.com/giltgroupe/maven` gives my:

`<html><body>Moved to <a href="http://dl.bintray.com:80/v1/content/giltgroupe/maven/">http://dl.bintray.com:80/v1/content/giltgroupe/maven/</a></body></html>`

[2019-06-13 11:54] beoChr commented on #184
I could fix it. The problem seams to be the name of the dependency.

I added it with

`
dependencies {
         compile (
                 //some other dependencies,
                 ''com.gilt:gfc-semver_2.11:0.1.0''
         )
`

Somewhere I found an error stating "can't resolve gfc-semver_". So I guess the number is interpreted as version, which is behind the last ":".

So I changed it to

`
de

[2019-06-13 11:54] #184 closed

[2020-01-13 12:10] DavidUnderdown opened #227 "implement matchIsFalse directive"
I've been trying to implement the idea of blacklisting certain PUIDs on a DROID CSV report, but have realised that the matchIsFalse column directive has not actually been implemented fully. It's recognised, so attempting to use it doesn't generate a schema error, but it doesn't do anything else at all, so there's no easy way of flipping the logic - I was expecting to be to write an any statement w

[2020-01-14 09:32] DavidUnderdown opened #228 "Performance throttling"
Having been thinking about the possibility of using CSV Validator with DROID reports as the basis of ongoing integrity checking of digital archive holdings (in the case where an archive is in the early stages of digital work and doesn't have a digital preservation system as such) - see https://openpreservation.org/blog/2019/05/28/droid-report-as-basis-for-collection-integrity-checks/
It's occurred

[2020-01-14 09:57] adamretter commented on #228
@DavidUnderdown for someone who is not aware of what DROID does for "Performance Throttling" could you describe what you would want in the CSV Validator?

Are you talking about limiting CPU, Memory, IO, power consumption, or something else?

[2020-01-14 11:47] DavidUnderdown commented on #228
Basically you can specify a delay between reading each file (in the GUI implemented via a slider in the bottom right of the interface)

[2020-01-28 14:13] afranke commented on #150
In addition to the decompression use case, it’s worth noting that validation against a schema may only be one part of a more complex pipeline. I can’t share any sample either, but here we have processing happening before and after our call to `validate` and all the other tools can be put on either sides of a pipe. We are forced to write temporary files just so that we can call `validate` on them.

[2020-02-02 03:21] srigumm opened #230 ".NET version of this library??"
do you have .NET version of this library?

[2020-02-02 07:53] adamretter commented on #230
Sorry no.

[2020-02-02 07:53] #230 closed

[2020-03-11 23:27] philip-energetiq opened #232 "Does not work in gradle build"
"If you wish to use the CSV Validator from your own Java project, we provide a native Java API, the dependency details are:"

If I add to my gradle build and try to build it doesn't work.

I tried many things, can only get it to work if I import all dependent jars.

[2020-03-12 10:46] adamretter commented on #232
What doesn't work?

What did you try?

[2020-03-12 11:11] PhilAndrew commented on #232
What doesn't work is if I add the dependency as you described as a gradle dependency. I'll try to make a failure case tomorrow then.

This works if I add all the dependant jars.

https://github.com/PhilAndrew/csv-validator

[2020-03-12 11:33] adamretter commented on #232
@PhilAndrew Can you provide examples of what works and what doesn't work.

We have used and tested the csv-validator-java-api in other projects.

As you can see here: https://github.com/digital-preservation/csv-validator/blob/master/csv-validator-java-api/pom.xml#L134
The `csv-validator-java-api` has a dependency on `cav-validator-core`, and so all you need is a single dependency on `csv-validator

[2020-04-08 12:15] gurpiarbassi opened #235 "dependency convergence warnings"
I am using the enforcer plugin and it detects a lot of dependency convergence issue with the underlying scala libraries.

I am using csv-validator-java-api Version 1.1 and using the dependencyConvergence rule in the maven enforcer plugin.

[2020-04-08 12:40] adamretter commented on #235
@gurpiarbassi can you provide some more detail on the errors please?

[2020-04-08 13:25] gurpiarbassi commented on #235
Here are the issues:
`
[WARNING]
Dependency convergence error for org.scala-lang.modules:scala-parser-combinators_2.11:1.0.2 paths to dependency are:
+-com.mycompany.xda:xda-csv-validator:1.0-SNAPSHOT
  +-uk.gov.nationalarchives:csv-validator-java-api:1.1
    +-org.scalaz:scalaz-core_2.11:7.1.1
      +-org.scala-lang.modules:scala-parser-combinators_2.11:1.0.2
and
+-com.mycompany.xda:xda-csv-valid

[2020-04-08 14:32] adamretter commented on #235
Unless I have missed something in your issue, this seems OK to me...

These are warnings rather than errors. In my opinion this is how Maven should work. It would be kinda crazy if I had to manually exclude all lesser versions of transient dependencies by hand.

[2020-04-08 14:43] gurpiarbassi commented on #235
I've had issues in the past where more than 1 version of a library was included and you didn't know which one it was going to use at runtime. That led to a bug being discovered. These type of bugs can be hard to find. The fix was to ensure that specific version got excluded.

Other library maintainers e.g. Pivotal are taking these issues on board and ensuring conflicting versions are not included

[2020-04-08 15:49] adamretter commented on #235
Having conflicting versions in our binaries would indeed be an issue. I don't think we have this problem though unless you have found otherwise?

[2020-04-08 21:11] gurpiarbassi commented on #235
I have not found an issue so far. I just happen to be using the enforcer plugin as a best practice and it picked up on these warnings.

I have worked around this for now by pinning a single version of the transitive dependencies in conflict and excluding all the others.

[2020-04-09 13:47] adamretter commented on #235
@gurpiarbassi Okay great. I think we are unlikely to address these warnings unless they become a bigger issue. Thanks for your feedback.

[2020-04-09 13:47] #235 closed

[2020-06-11 09:22] eilandnl opened #243 "Network locations"
It doesnt seem to work when the path is a network location

i tried many difrrent variantion but when my input is

file:////server//Groups$//t1.csv
file://server/Groups$/t1.csv
////server//Groups$//t1.csv
//server/Groups$/t1.csv
////ip//Groups$//t1.csv
//ip/Groups$/t1.csv

none of them seem to work

[2020-06-11 10:18] adamretter commented on #243
@eilandnl You are going to need to provide a lot more information...

1. What operating system are you using?
2. What network file system are you using?
3. What was the exact command that you ran?

[2020-06-15 07:09] eilandnl commented on #243
1. Windows 10
2. SMB
3. D:\Config\csv-validator-cmd-1.1.5\bin\validate.bat "\\PWFS\z$\x\y/csvschematest.csv" "\\PWFS\z$\x\y/csvschematest.csv.csvs" --disable-utf8-validation --fail-fast 1

Results in
Error: Cannot access CSV file: **C:\PWFS**\z$\x\y\csvschematest.csvError: Cannot access CSV Schema file: C:\PWFS\z$\x\y\csvschematest.csv.csvsTry --help for more information.

[2020-06-15 09:02] adamretter commented on #243
Hi @eilandnl I think you are trying to use UNC paths. Most applications won't work directly with these, instead you should mount the filesystem as a network drive.

Rehardless, I think your UNC path should start with a `\\` instead of `\`

[2020-06-15 09:02] #243 closed

[2020-06-15 09:37] eilandnl commented on #243
Making a symbolic link solved the problem
mklink /D "c:\x\y" "\\PWFS\Groups$\x\y"

[2020-06-24 15:01] n3ffv1 opened #246 "Cant Run downloaded csv-validator-ui-1.2-RC2"
I created a sample CSV / CSVs but once i clicked validate, this is being displayed in CMD.

[2020-06-24 15:11] adamretter commented on #246
Which version of Java are you trying to run it with?

[2020-07-02 07:39] eilandnl opened #248 "Encoding"
Would it be possible to do something with encoding maybe give it as a flag --encoding utf-8-bom

Now i am unable to validate utf-8-bom files

[2020-07-03 09:58] adamretter commented on #248
We use the Univocity CSV Parser internally. It does look like we could add a flag as you suggest which would instead use http://docs.univocity.com/parsers/2.7.3/index.html?com/univocity/parsers/common/input/BomInput.html

[2020-07-03 09:59] adamretter commented on #248
As a workaround there are lots of tools available that you can use to strip any BOM from the files before processing them - just do a Google search fro "strip BOM"

[2020-11-25 14:55] paulyoung84 opened #266 "IntegrityCheck error when folder called 'content' not in top folder, and additional file or folder at same level."
Running over some collections it picked up some erroneous IntegrityCheck errors. After manually verifying that there wasn’t actually any errors in the downloads I think I have traced it down to some residual issues with having a folder called ‘content’ somewhere in the filepath which isn’t the top level folder.

This was a problem before and was fixed in https://github.com/digital-preservation/csv

[2020-11-25 15:10] adamretter commented on #266
@paulyoung84 The Integrity Check was always a mixed-concern :-/
It shouldn't really have been put into the CSV Validator, rather it should have been a separate tool entirely.

I think the first thing would be to define in writing somewhere what an "Integrity Check" really means, this might mean working backwards from the code. From there we could then figure out if that's what TNA needs today? Ult

[2020-12-10 19:34] adesousa576 opened #269 "noext recorded as noExt in schema language but noext in code"
Hello,

I was trying to use noExt as in the schema language documentation and was getting errors and then a code check showed it's actually in there as noext. Could either the schema language be updated to reflect it's all lowercase or the code updated to match the schema language documentation please (which would be more in line with the other rules but it's up to you what's best!)

Many thanks
A

[2020-12-18 12:06] sparkhi opened #271 "Error when running the latest revision in master"
CSV Validator latest revision fails with the error

`Found class scodec.bits.ByteVector but interface was expected` for line: 3, column: checksum`

The latest binary on maven-central (https://search.maven.org/remotecontent?filepath=uk/gov/nationalarchives/csv-validator-ui/1.1.5/csv-validator-ui-1.1.5-application.zip) works without any problems.

When looking through the history of master, I could

[2021-01-04 09:52] DavidUnderdown commented on #271
There's a release tagged for 1.1.5 https://github.com/digital-preservation/csv-validator/releases/tag/1.1.5 - it was quite a while ago as there hasn't been any active development on the validator, I think the only things that have been merged in are dependency updates. Maybe one of those has broken something?

[2021-02-07 20:23] shannasummer opened #276 "integrityCheck("") fails for line: 1, column: URI, Cannot find the folder with substitution paths"
Hi Folks, I'm checking the integrity of a folder kept in place (i.e. no substitution paths should be needed, and I have not specified any). I'm getting a FAIL with the above-referenced error message for each line in the CSV file.

I'm using csv-validator-ui-1.1.5, and haven't changed anything in the csvs file.

Thanks,

Sharon

[2021-02-08 12:25] adamretter commented on #276
@shannasummer Can you describe the layout of your files and share your CSVS?

[2021-02-08 17:21] shannasummer commented on #276
Hi Adam, thanks for your quick response. Please see the attached zip for the DROID-generated CSV, the folder verified, and a screenshot of the folder contents in Windows Explorer.

[Mayu_integrityCheck.zip](https://github.com/digital-preservation/csv-validator/files/5945482/Mayu_integrityCheck.zip)

[2021-02-08 19:47] adamretter commented on #276
@shannasummer Thanks, can you also provide your CSVS file?

[2021-02-08 21:09] shannasummer commented on #276
Sure.
[DROID_integrity_check.zip](https://github.com/digital-preservation/csv-validator/files/5946840/DROID_integrity_check.zip)

[2021-04-29 19:33] marceloverdijk opened #284 "gfc-semver dependency not in Maven central"
Core depends on

[code]

which is not available in Maven Central:

![image](https://user-images.githubusercontent.com/197004/116607019-c778b380-a931-11eb-852f-c12b730c04cb.png)

In my Gradle build I had to exclude the transitive dependency and include it myself like:

[code]

Note it uses `0.0.5` but it seems to work.

Note II: It seems there is also a `org.gfccollective:gfc-semver` artifact on Ma

[2021-05-26 07:09] axos88-da opened #299 "Bogus error reported if switch() is not the top-level instruction"
For a rule, such as `switch(...) and unique(...)`,

[code]

the reported error is entirely bogus:
[code]

The workaround is to include the other validation in all cases, but that means duplicating code:

[code]

[2021-05-26 07:11] axos88-da opened #300 "UniqueMulti rule does not report the error correctly"
It reports `unique(` without listing the columns.

[code]

reports the error as: ```regex("\d{1,35}") and unique(```

[2021-06-18 16:00] fconil opened #305 "How can I manage CSV files whose header column contain whitespace"
Hi,
I found the specification and the tool very interesting but I did not succeed to define a schema for our CSV files : the column names in the header contains whitespace.
[code]
Is there a way to use this case which seems usual ?

I tried the following schemas without success
[code]
Regards

[2021-06-18 16:04] fconil opened #306 "Error when a comment is placed between global directives"
I use CSV Validator - Command Line 1.1.5

With this schema
[code]

I have the following error
[code]

[2021-06-18 16:10] fconil opened #307 ""integer" is not a valid expression"
"integer" is show in example 38 of CSV Schema specification 1.1 and 1.2 (§ 5.2.1.2.4.1 Usage) but it triggers an error in CSV Validator 1.1.5.
[code]

[2021-06-21 10:44] DavidUnderdown commented on #307
Hi Francoise you've identified an error in the example there, I will aim to fix that shortly. It should be positiveInteger as in the definition [§ 5.2.1.1.24 Positive Integer Expression](http://digital-preservation.github.io/csv-schema/csv-schema-1.1.html#positive-integer-expression) and [Example 31](http://digital-preservation.github.io/csv-schema/csv-schema-1.1.html#example-31).

[2021-06-21 10:51] DavidUnderdown commented on #306
Comments are only valid in the Body part of a schema according to the formal EBNF specification of the language, so comments must follow the Prolog (the version declaration and any global directives). I will see if I can make that clearer in the text.

[2021-06-21 10:57] DavidUnderdown commented on #305
Your first option there should work as described in http://digital-preservation.github.io/csv-schema/csv-schema-1.1.html#column-identifiers. Do you have the exact error produced?

[2021-06-21 13:04] fconil commented on #305
Hi,
I make some new trials and I made a mistake : column names headers can contain whitespace.
I guess I have been mistaken because of the error message I got due to the comments in the Prolog (#306 : `Invalid column definition`).
Sorry I am closing the issue

[2021-06-21 13:04] #305 closed

[2021-06-23 01:11] vincentml opened #308 "Build failing due to transitive dependency on bintray"
A Java Maven project that uses csv-validator has started failing builds, and it appears that the cause is some dependency within csv-validator relies on bintray.com which is now offline according to a message at https://bintray.com/.

The error message in the build log is as follows:

Failed to collect dependencies at uk.gov.nationalarchives:csv-validator-java-api:jar:1.1 -> uk.gov.nationalarchive

[2021-06-23 22:41] vincentml commented on #308
I have narrowed this problem down to a specific jar and found a workaround. I'm using csv-validator version 1.1.5, and in csv-validator-core/pom.xml there is an import for gfc-semver_2.11 version 0.1.0 which is not available in Maven Central. An earlier version 0.0.5 is available.

The workaround was to change the pom.xml of my project to import gfc-semver_2.11 version 0.0.5 as follows:

[code]

I

[2021-06-23 22:45] vincentml commented on #308
This problem and workaround is the same as issue #284

[2021-06-24 10:38] adamretter commented on #284
Fixed in f7c3878a4fee2c7e3cb6ecc7e0ac28e630d66ff2

[2021-06-24 10:38] #284 closed

[2021-06-24 13:04] adamretter commented on #308
This is fixed in f7c3878

@DavidUnderdown would you mind if I released a 1.2-RC3 version? After which we pause a little, and if no problems, are reported we release the final 1.2 version?

[2021-06-24 14:30] DavidUnderdown commented on #308
The main reason we were keeping the 1.2 series as release candidates only is that we don't have a finalised v1.2 of CSV schema language. Ideally we'd do a 1.1.x release too as CSV Schema Language v1.1 is definitive.

[2021-06-24 15:56] adamretter commented on #308
@DavidUnderdown Okay understood. I think doing a 1.1.x is difficult as the version of Scala etc has moved on and I think the code now incorporates some concepts from Schema 1.2.

Is it okay to do a 1.2-RC3?

[2021-06-25 09:19] DavidUnderdown commented on #308
Yes, that's fine. We'll have to have a think about 1.1.x then too.

[2021-06-25 14:02] adamretter commented on #308
Unfortunately I think that would be quite tricky as the main line of development already contains some 1.2 features. So you would have to cherry-pick and build a new branch.

[2021-06-25 14:03] adamretter commented on #308
@vincentml @DavidUnderdown I just released version 1.2-RC3 to Maven Central. It should be publicly available within the next two hours (their synchronisation window)

[2021-06-25 14:03] #308 closed

[2021-08-30 20:04] kulketan-cloud opened #319 "Getting java.lang.AbstractMethodError"
Hello,

I'm trying to use csv-validator but without success.
Trying to use java-api as mentioned in docs

[code]

**Error:**

[code]

**csvs file:**

[code]

**csv file:**
[code]

[2021-08-31 10:08] DavidUnderdown commented on #319
Any suggestions @adamretter ?

[2021-10-05 17:18] fazil1der opened #324 "scala-parser-combinators issue when using with spark 3.1.0"
SchemaParser fails with
Exception in thread "main" java.lang.NoSuchMethodError: uk.gov.nationalarchives.csv.validator.schema.TraceableParsers.$init$(Luk/gov/nationalarchives/csv/validator/schema/TraceableParsers;)VException in thread "main" java.lang.NoSuchMethodError: uk.gov.nationalarchives.csv.validator.schema.TraceableParsers.$init$(Luk/gov/nationalarchives/csv/validator/schema/TraceableParser

[2022-02-07 14:04] adamretter opened #330 "Runtime Exceptions 1.2-RC3"
At the moment version 1.2-RC3 seems unusable under Java 8 (at least for me). 1.2-RC2 does seem to work OK.

This may be related to - https://github.com/digital-preservation/csv-validator/issues/319

The errors I am seeing with 1.2-RC3 are:

[code]

[code]

[2022-02-08 15:42] DavidUnderdown commented on #306
Working as expected, comments not valid in this part of schema

[2022-02-08 15:44] DavidUnderdown commented on #269
noExt is more consistent with other rules, should be changed in CSV Validator to match definition

[2022-02-08 15:45] DavidUnderdown commented on #246
No response to our clarifying question, closing

[2022-02-08 15:45] #246 closed

[2022-02-08 15:46] DavidUnderdown commented on #232
No response to our clarifying question

[2022-02-08 15:46] #232 closed

[2022-02-08 15:51] DavidUnderdown commented on #159
To retest in current versions

[2022-02-08 18:43] DavidUnderdown commented on #271
@sparkhi is this still an issue or should we close?

[2022-02-09 10:03] DavidUnderdown commented on #300
This actually appears to be a duplicate of #84

[2022-02-09 10:03] #300 closed

[2022-02-09 10:20] #271 closed

[2022-02-09 10:28] DavidUnderdown commented on #149
Closing this old call as original poster was happy following discussion

[2022-02-09 10:28] #149 closed

[2022-02-09 10:32] DavidUnderdown commented on #81
Needs confirmation as to whether this is still an issue

[2022-02-11 14:22] clairedriver opened #331 "'save' button for saving reports take user to 'open' box"
When users (government departments) have tried to validate and want to save the report to send to TNA for advice. Press 'save' but they are taken to a page to open a new file rather than saving the existing one. There is a work around but very confusing for users and difficult for TNA to advise without the report, just a screen shot.

![csv_val_Issue](https://user-images.githubusercontent.com/5743

[2022-02-11 14:47] DavidUnderdown commented on #331
Thanks Claire

This should be quite straightforward I would think and we should have someone working on CSV Validator pretty soon, so I've added this as a high priority issue

[2022-02-14 13:00] adamretter commented on #331
@clairedriver I have fixed that for you here - https://github.com/digital-preservation/csv-validator/issues/331

[2022-02-14 13:26] #331 closed

[2022-02-14 14:59] #319 closed

[2022-02-14 14:59] #324 closed

[2022-02-14 14:59] #330 closed

[2022-02-15 09:30] EveWright opened #338 ""No Checksum" different from DROID"
When running the checksum expression (MD5) against DROID outputs produced I have found DROID would generate the checksum ‘d41d8cd98f00b204e9800998ecf8427e’ whereas CSV Validator would generate “No Checksum” and therefore fail. I understand this checksum reflects a zero string, so both DROID and CSV Validator are telling me the same thing but as this is displaying as a fail, I am needing to remove

[2022-02-15 09:31] EveWright opened #339 "Fails caused by non-standard characters in file names"
I have found that CSV Validator cannot locate some files listed in the CSV when using the checksum expression (MD5) if they have non-standard characters in the file names. I have found this in happens when the characters +, %, ~ or excessive white space appears in the file name.

Is there a way around this so CSV Validator can locate the files (other than me removing the characters from the file n

[2022-02-15 10:19] DavidUnderdown commented on #338
Normally you'd only get no checksum if CSV Validator is looking at a folder rather than a file, I would expect to see the checksum for an empty string returned (the same as DROID) when you have a zero byte file. Do you have any example files you could share?

[2022-02-15 10:22] DavidUnderdown commented on #339
Again, do you have some specific examples of file names where this has happened, is your CSV coming from DROID again for these? (it's possible it could be an issue with the URLs being created there rather than with validator as such)

[2022-02-21 16:43] DavidUnderdown opened #341 "Create embedded Java build for Windows"
For DROID we now have a Windows build with embedded JRE, for similar reasons (people often have difficulties getting Java installed on corporate machines) it would be useful to do the same for CSV Validator too. See https://github.com/digital-preservation/droid/pull/289 for how it was done there

[2022-03-10 08:19] luketebbs commented on #130
Do we know if this is still a problem?

Uniqueness checks excluded for this sort of problem I'd expect constant memory usage and linear execution time, and I'm not seeing anything in the code that looks 'wrong' in this regard.
I'm expecting everything to be largely IO bound, but if we're doing anything CPU-heavy we might get some speedup through using fs2 throughout.
It looks like we're making two

[2022-03-10 08:21] luketebbs commented on #128
I'm seeing 'invalid cross reference' as the error given. This seems pretty good to me?

Though I do also get the unhelpful message described when using concat...

[2022-03-10 10:31] DavidUnderdown commented on #130
It tends to happen if there's a lot of errors being encountered. Initially one problem was that 32-bit Java had quite a low max heap size, that is probably less of an issue now, but with the typical default heap size it is still possible to run in to issues. As well as my suggestion of adding -XX:+ExitOnOutOfMemoryError into the batch scripts there may be ways of ensuring heap size is normally set

[2022-03-10 10:34] DavidUnderdown commented on #128
That generally seems OK, but would be good to fix in the case of concat too

[2022-03-15 00:28] luketebbs commented on #130
Ah okay. I was able to reproduce this, and the files don't need to be very large either - I was filling up 8GB of heap with a file about 70MB in size when using an inappropriate csvs file (i.e. a few errors per line).

Rather than trying to tune the JVM I think the best approach here is to output the errors straight to stderr when they occur (in the case of the cmd implementation) rather than accu

[2022-03-16 22:33] luketebbs commented on #130
https://github.com/digital-preservation/csv-validator/pull/353

[2022-03-21 13:18] EveWright commented on #339
Yes the CSV is coming from DROID for these as well. You can find some example files attached. Let me know if you require anything further.

[Character Issue.zip](https://github.com/digital-preservation/csv-validator/files/8315639/Character.Issue.zip)

[2022-03-22 11:58] DavidUnderdown commented on #339
Thanks, I will see if I can recreate your issue. One question, are you testing against the FILE_PATH field from DROID or the URI field?

[2022-03-23 16:22] DavidUnderdown commented on #338
Curious, I am seeing the same behaviour, though I'm sure in the past CSV Validator returned the defined checksum for an empty string in these circumstances (I've built such checks into CSV Schema in the past). I wondered if it was somehow down to using MD5 rather than SHA-256 but the same behaviour occurs for a SHA-256 checksum test as well.

This does seem to be a bug, but I suspect it's happenin

[2022-03-24 07:21] EveWright commented on #339
Thanks David that's really helpful. I will give the URI a go

[2022-03-24 07:27] EveWright commented on #338
That's really helpful thanks David

[2022-03-27 18:29] luketebbs commented on #128
https://github.com/digital-preservation/csv-validator/pull/362

[2022-03-27 19:56] luketebbs commented on #159
I'm seeing this problem with the current version.

[code]

@DavidUnderdown - should we accept asterisks in the comments? Or would you prefer a different error message?

[2022-03-27 20:05] luketebbs commented on #299
https://github.com/digital-preservation/csv-validator/pull/363

[2022-03-28 08:43] DavidUnderdown commented on #159
As commented above the grammar definition does prohibit asterisks within a multiline comment, so happy for an error to be thrown. It's not really an invalid column definition though, so it would be good to explicitly reference that the additional asterisk in the comment is the problem if possible.

[2022-05-24 23:46] iggy-da opened #375 "Publish a release candidate for 2.13"
Hi, could I please request an RC release following the Scala 2.13 upgrade? That is, if the [official release](https://github.com/digital-preservation/csv-validator/pull/155#issuecomment-1074961572) still needs more time. We are depending on `csv-validator` in a part of our Scala codebase, and it's preventing us from upgrading that code to a more recent Scala version. Thank you!

[2022-07-19 06:28] iggy-da commented on #375
The release would still be very much appreciated.

@luketebbs @DavidUnderdown I saw that you rolled back `1.2.0-RC5` a few months ago - would you happen to know what happened there, is we'd have to watch out for if we would roll our own release for the time being?

[2022-07-19 15:47] OliverHannan commented on #375
Hello @iggy-da. Thanks for raising the issue again.

I understand the roll back was because we don't have dedicated developers to work on the product. Unfortunately that's still the case.